<section id="middle-section">
	<div class="row">
		<header class="mainHeader text-center">
			<h1>Free Registration Open!</h1>
		</header>
	</div>
	<div class="row">
		<section class="middle text-center clearfix">
			<div class="main_image show-for-large-up">
				<%= image_tag('lander1/lander1_bg.png') %>
			</div>
			<div class="small-12 columns">
				<header class="opening-header">
					<h4>Registration for men will remain open for the next <span class="timer"><span class="minutes"></span> minutes <span class="seconds"></span> seconds</span></h4>
					<p>WARNING! This site may contain sexually oriented pictures of someone you know!</p>
				</header>
				<div class="content-main">
					<div class="small-12 columns">
						<div class="row">
							<div class="large-8 small-centered columns">
								<article class="mainStep1">
									<header class="mainStep1-header black-gradient">
										<h5>Before signing up, you must agree to the following rules:</h5>
									</header>
									<div class="mainStep1-content">
										<p class="text-center">If I see profile pictures of someone I may know I will not reveal their identity.  <br> I'll respect the sexual desires of my fellow members.</p>
										<div class="row">
											<div class="small-12 large-5 small-centered columns">
												<a href="#" class="button radius expand">I Agree</a>
											</div>
										</div>
									</div>
								</article>
								<article class="stepsNext">
										<header class="stepsNext-header black-gradient">
											<div class="large-6 small-centered column">
												<ul class="mainSteps inline-list">
													<li class="step1_indicator">
														<span class="cur">1</span>
													</li>
													<li class="step2_indicator">
														<span>2</span>
													</li>
													<li class="step3_indicator">
														<span>3</span>
													</li>
												</ul>
											</div>
										</header>
										<div class="lander1-panel-content registration-form">
											<%= render './registration_form' %>
										</div>
								</article>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</section>