<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), remote: true) do |f| %>
	<%= devise_error_messages! %>
	<div class="row step1">
		<div class="small-12 large-8 small-centered columns">
			<div class="row">
				<div class="small-3 columns">
					<%= f.label :username, class: 'right inline' %>
				</div>
				<div class="small-9 columns">
					<%= f.text_field :username %>
				</div>
			</div>
			<div class="row">
				<div class="small-12 columns">
					<a href="#" id="username_button" class="step1-button button expand radius">Next >></a>
				</div>
			</div>
		</div>
	</div>
	<div class="step2">
		<div class="row">
			<div class="small-12 large-8 small-centered columns">
				<div class="row">
					<div class="small-3 columns">
						<%= f.label :password, class: 'right inline' %>
					</div>
					<div class="small-9 columns">
						<%= f.password_field :password %>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="small-12 large-8 small-centered columns">
				<div class="row">
					<div class="small-3 columns">
						<%= f.label :password_confirmation, class: 'right inline' %>
					</div>
					<div class="small-9 columns">
						<%= f.password_field :password_confirmation %>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="small-12 large-8 small-centered columns">
				<a href="#" id="password_button" class="step2-button button expand radius">Next >></a>
			</div>
		</div>
	</div>
	<div class="row step3">
		<div class="small-12 large-8 small-centered columns">
			<div class="row">
				<div class="small-3 columns">
					<%= f.label :email, class: 'right inline' %>
				</div>
				<div class="small-9 columns">
					<%= f.email_field :email, autofocus: true %>
				</div>
			</div>
			<div class="row">
				<div class="small-12 large-8 small-centered columns">
					<a href="#" id="submit_button" class="button expand radius">Finish Signup</a>
				</div>
			</div>
		</div>
	</div>
<% end %>