<li id="chat_window_<%= profile.user.username %>" class="chatbox-tab" data-username="<%= profile.user.username %>">
	<span class="chatbox-tab-text">
		<%= profile.user.username %>
	</span>
	<article id="chatbox_<%= profile.user.username %>" class="panel-default chatbox">
		<header class="panel-heading">
			<span class="fa fa-comment"></span>
			<%= link_to profile.user.username, '#', class: 'toggle_chat' %>
			<%= image_tag profile.user.avatar_photo_url(:tiny), size: '15' %>
			<span class="fa fa-times tab-close right"></span>
			<span class="fa fa-minus toggle_chat right"></span>
		</header>
		<div class="panel-body">
			<ul class="chatbox_body no-bullet without-margins">
				<% if current_user.vip? %>
					<% if @messages.any? %>
						<%= render @messages %>
					<% else %>
						<li>Start a conversation</li>
					<% end %>
				<% end %>
			</ul>
		</div>
		<div class="chatbox_info"></div>
		<footer class="panel-footer">
			<form action="#" name="user_input" method="post" class="user_input_form">
				<%= text_field_tag 'user-input', nil, class: 'user-input' %>
			</form>
		</footer>
	</article>
</li>