<li class="<% (message.user.id == current_user.id ? 'left' : 'right') %> clearfix">
	<span class="chat-img <% (message.user.id == current_user.id ? 'left' : 'right') %>">
		<%= image_tag message.user.avatar_photo_url(:tiny), size: '25', class: 'img-circle' %>
	</span>
	<article class="chat_holder">
		<header>
			<strong class="primary_font <% (message.user.id == current_user.id ? 'right' : '')%>">
				<%= message.user.username %>
			</strong>
			<small class="text-muted <% (message.user.id == current_user.id ? '' : 'right') %>">
				<span class="fa fa-clock-o">
					<%= time_ago_in_words(message.created_at) %> ago
				</span>
			</small>
			<p><%= message.body %></p>
		</header>
	</article>
</li>