$('#private_messages .chat_body').append("<%= escape_javascript render(@message) %>");
$("#new_message")[0].reset();
$('#private_messages .panel-body').animate({scrollTop: $('#private_messages .chat_body')[0].scrollHeight});
