<%= form_for [@user, @profile], html: { class: 'with-form-background'} do |f| %>
	<%= render 'shared/errors', model: @profile %>
	<%= f.hidden_field :user_id, value: current_user.id %>
	<div class="row">
		<div class="small-12 columns">
			<%= f.label :title %>
			<%= f.text_field :title %>
		</div>
	</div>

	<div class="row">
		<div class="small-12 columns">
			<%= f.label :about %>
			<%= f.text_area :about %>
		</div>
	</div>

	<div class="row">
		<div class="small-12 columns">
			<%= f.label :iwant, 'I Want' %>
			<%= f.text_area :iwant %>
		</div>
	</div>

	<div class="row">
		<div class="small-12 columns">
			<%= f.label :dob, 'Birthday' %>
			<%= f.date_select :dob, prompt: { day: 'Day', month: 'Month', year: 'Year' }, start_year: Time.now.year - 100, end_year: Time.now.year - 18  %>
		</div>
	</div>

	<div class="row">
		<div class="small-12 columns">
			<%= f.label :gender, 'Gender' %>
			<%= f.select :gender, Profile::GENDERS, include_blank: true %>
		</div>
	</div>

	<div class="row">
		<div class="small-12 columns">
			<%= f.label :ethnicity, 'Ethnicity' %>
			<%= f.select :ethnicity, Profile::ETHICITYS, include_blank: true %>
		</div>
	</div>

	<div class="row">
		<div class="small-12 columns">
			<%= f.label :height, 'Height' %>
			<%= f.select :height, (36..95).to_a.map { |inch| [(inch/12).floor.to_s + '\'' + (inch%12).to_s, inch.to_s]} %>
		</div>
	</div>

	<div class="row">
		<div class="small-12 columns">
			<%= f.label :weight, 'Weight' %>
			<%= f.text_field :weight %>
		</div>
	</div>

	<div class="row">
		<div class="small-12 columns">
			<%= f.label :hair_color, 'Hair color' %>
			<%= f.select :hair_color, Profile::HAIRCOLORS, include_blank: true %>
		</div>
	</div>

	<div class="row">
		<div class="small-12 columns">
			<%= f.label :body_type, 'Body type' %>
			<%= f.select :body_type, Profile::BODYTYPES, include_blank: true %>
		</div>
	</div>

	<div class="row">
		<div class="small-12 columns">
			<%= f.label :eye_color %>
			<%= f.select :eye_color, Profile::EYECOLORS, include_blank: true %>
		</div>
	</div>

	<div class="row">
		<div class="small-12 columns">
			<%= f.submit 'Update Profile', class: 'button tiny radius' %>
		</div>
	</div>
<% end %>