<li>
	<%= link_to image_tag(user.avatar_photo_url(:thumb)), user_profile_path(user, user.profile), class: 'track-click', data: { ga_category: 'landing_girls', ga_action: 'click', ga_label: user.username } %>
</li>