<div class="small-12 large-3 columns">
	<article class="profile-image-wrapper">
		<div class="photo-holder">
			<%= image_tag @profile.user.avatar_photo_url(:medium), class: 'main-image' %>
			<% if @profile.user.vip? %>
				<div class="ribbon-wrapper-green">
					<div class="ribbon-green">
						VIP
					</div>
				</div>
			<% end %>
		</div>
		<footer class="profile-image-footer clearfix">
			<div class="row">
				<div class="small-6 columns">
					<%= @profile.user.username %>
				</div>
				<div class="small-6 columns text-right">
					Age: <%= @profile.age %>
				</div>
			</div>

			<% if Rails.cache.exist?("#{current_user.id}_locations_#{@profile.user.id}") %>
				<p>
					From <%= Rails.cache.fetch("#{current_user.id}_locations_#{@profile.user.id}") %>
				</p>
			<% end %>
		</footer>
	</article>

	<% if @profile.user_id != current_user.id %>
		<div class="row">
			<div class="small-12 columns">
				<article class="panel-default">
					<header class="panel-heading">
						<h4 class="panel-title">Social</h4>
					</header>
					<div class="panel-body">
						<%= render 'shared/profile_links', user: @profile.user %>
					</div>
				</article>
			</div>
		</div>
	<% end %>

	<div class="row">
		<div class="small-12 columns">
			<article class="panel-default">
				<header class="panel-heading">
					<h4 class="panel-title">
						Member has <%= pluralize(@profile.user.photos_count, 'photo') %>
						<% if @profile.user.photos_count? && @profile.user.photos_count > 8 %>
							<%= link_to 'More Photos', user_photos_path(@profile.user), class: 'button tiny radius right' %>
						<% end %>
					</h4>
				</header>
				<div class="panel-body">
					<ul class="member-photos small-block-grid-4 large-block-grid-3">
						<% @profile.user.photos.limit(8).each do |photo| %>
							<li>
								<%= link_to image_tag(photo.image.url(:tiny)), '#', class: 'lightbox', data: { user_role: current_user.role, href: photo.image.url() }  %>
							</li>
						<% end %>
					</ul>
				</div>
			</article>
		</div>
	</div>

	<div class="row">
		<div class="small-12 columns">
			<article class="panel-default">
				<header class="panel-heading">
					<h4 class="panel-title">
						Member has <%= pluralize(@profile.user.videos_count, 'video') %>
						<% if @profile.user.videos_count? && @profile.user.videos_count > 8 %>
							<%= link_to 'More Videos', user_videos_path(@profile.user), class: 'button tiny radius right' %>
						<% end %>
					</h4>
				</header>
				<div class="panel-body">
					<ul class="small-block-grid-4 large-block-grid-3 member-videos">
						<% @profile.user.videos.each do |video| %>
							<li>
								<%= link_to image_tag(video.video.url(:thumb), size: '50'), '#', class: 'videobox', data: { user_id: @profile.user.id, href: user_video_path(user_id: @profile.user.id, id: video.id) }  %>
							</li>
						<% end %>
					</ul>
				</div>
			</article>
		</div>
	</div>
</div>
<% if current_user.can_view? || (@profile.id == current_user.profile.id)  %>
	<div class="large-9 columns">
		<article class="panel-default">
			<header class="panel-heading">
				<h4 class="panel-title">Introduction</h4>
			</header>
			<div class="panel-body">
				<%= @profile.title %>
			</div>
		</article>
		<article class="panel-default">
			<header class="panel-heading">
				<h4 class="panel-title">About Me</h4>
			</header>
			<div class="panel-body">
				<%= @profile.about %>
			</div>
		</article>
		<article class="panel-default">
			<header class="panel-heading">
				<h4 class="panel-title">What I'm looking for</h4>
			</header>
			<div class="panel-body">
				<%= @profile.iwant %>
			</div>
		</article>
		<article class="panel-default">
			<header class="panel-heading">
				<h4 class="panel-title">My Stats</h4>
			</header>
			<div class="panel-body">
				<ul class="no-bullet">
					<li>Race: <%= @profile.ethnicity %></li>
					<li>Height: <%= @profile.height_in_feet %></li>
					<li>Weight: <%= @profile.weight %></li>
					<li>Body type: <%= @profile.body_type %></li>
					<li>Hair color: <%= @profile.hair_color %></li>
					<li>Eye color: <%= @profile.eye_color %></li>
				</ul>
			</div>
		</article>
	</div>
<% else %>
	<div class="large-9 columns">
		<article class="panel-default">
			<header class="panel-heading">
				<h4 class="panel-title">To view <%= @profile.user.username %>'s full profile select a plan below!</h4>
			</header>
			<div class="panel-body">
				<ul class="small-block-grid-1 large-block-grid-4" data-equalizer>
					<% if @plans %>
						<% @plans.each do |plan| %>
							<li>
								<ul class="pricing-table" data-equalizer-watch>
									<li class="title"><%= plan.name %></li>
									<li class="price"><%= number_to_currency(plan.price) %></li>
									<li class="price-per">(<%= (plan.price <= 1) ? 'for one day only' : 'per month' %>)</li>
									<li class="cta-button"><%= link_to 'Upgrade', plans_path(api_id: plan.p_api_id), class: 'button radius' %></li>
								</ul>
							</li>
						<% end %>
					<% end %>
				</ul>
			</div>
		</article>
	</div>
<% end %>