<% provide :title, 'Edit Profile' %>
<div class="middle-wrapper">
	<section id="profile" class="section-padding">
		<div class="small-12 columns small-centered">
			<header class="text-center with-content-spacing">
				<h2>Editing your profile</h2>
			</header>
		</div>
		<div class="row">
			<div class="medium-6 small-12 columns">
				<%= render 'form' %>
			</div>
			<div class="medium-6 small-12 columns">
				<p>Could put some advertisment here</p>
			</div>
		</div>
	</section>
</div>