<% provide :title, "#{@profile.user.username}" %>
<div class="middle-wrapper">
  <section id="profile" class="section-padding">
    <div class="row">
			<%= render 'vip_profile' %>
		</div>
	</section>
</div>