<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post, class: 'form-horizontal' }) do |f| %>
	<%= devise_error_messages! %>
	<div class="row">
		<div class="small-12 columns">
			<%= f.label :email %>
			<%= f.email_field :email, :autofocus => true, class: 'form-control' %>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<%= f.submit "Resend confirmation instructions", class: 'button tiny radius' %>
		</div>
	</div>
<% end %>