<% provide :title, 'Resend confirmation' %>
<div class="middle-wrapper">
  <section class="section-padding">
    <div class="row">
      <div class="small-12 columns">
        <h2>Resend confirmation instructions</h2>
        <%= render 'form' %>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns"></div>
			<%= render "devise/shared/links" %>
		</div>
	</section>
</div>