<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), remote: true) do |f| %>
	<%= devise_error_messages! %>
	<div class="row">
		<div class="small-12 columns">
			<%= f.label :email %>
			<%= f.email_field :email, autofocus: true %>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<%= f.label :password %>
			<%= f.password_field :password %>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<%= f.label :password_confirmation %>
			<%= f.password_field :password_confirmation %>
		</div>
	</div>

	<div class="row">
		<div class="small-12 columns">
			<%= f.label :username %>
			<%= f.text_field :username %>
		</div>
	</div>
	<div class="row">
		<div class="small-9 columns">
			<p>Thousands of members are waiting for you.</p>
		</div>
		<div class="small-3 columns">
			<%= f.submit "Register", class: 'button tiny radius' %>
		</div>
	</div>
<% end %>