<% provide :title, 'Register' %>
<div class="middle-wrapper">
  <section id="register" class="section-padding">
    <div class="row">
      <div class="small-12 columns small-centered">
        <header class="text-center with-content-spacing">
          <h2>Sign up now for an outstanding experience</h2>
					<h3 class="gray text-center with-content-padding">
						Join the thousands of online users just waiting for you!
					</h3>
				</header>
			</div>
		</div>
		<div class="row">
			<div class="medium-6 small-12 columns with-form-background">
				<%= render 'form' %>
				<div class="row">
					<div class="small-12 columns">
						<%= render "devise/shared/links" %>
					</div>
				</div>
			</div>
			<div class="medium-6 small-12 columns">
				<div class="feature-items-with-icons-wrapper icon-lef with-top-content-spacing">
					<div class="row">
						<div class="small-3 medium-2 columns">
							<span class="fa fa-tablet fa-3x"></span>
						</div>
						<div class="small-9 medium-10 without-left-padding columns">
							<h4 class="theme-prim-color"><strong>Mobile Friendly</strong></h4>
							<p>Random Affair works seamlessly across mobile devices</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>