<div class="middle-wrapper">
  <section class="section-padding">
    <div class="row">
      <div class="large-12 columns">
        <article class="panel-default">
          <header class="panel-heading">
            <h4 class="panel-title">Site stats</h4>
					</header>
          <div class="panel-body">
            <ul class="site-stats no-bullet">
              <li>
                <strong><%= link_to @total_users, admin_users_path %></strong>
                <small>Total users</small>
							</li>
              <li>
                <strong><%= @confirmed_users %></strong>
                <small>Total confirmed users</small>
							</li>
              <li>
                <strong><%= @total_users - @confirmed_users %></strong>
                <small>Total unconfirmed users</small>
							</li>
              <li>
                <strong><%= @today_new_users %></strong>
                <small>New user's today</small>
							</li>
              <li>
                <strong><%= @yesterday_new_users %></strong>
                <small>New user's yesterday</small>
							</li>
						</ul>
					</div>
				</article>
			</div>
		</div>
	</section>
</div>