var mainHolder = $("#chat_window_<%= @conversation.recipient.profile.username %>");

mainHolder.find('.chatbox_body').append("<%= escape_javascript render(@conversation.messages.last) %>");
mainHolder.find('.edit_conversation')[0].reset();
mainHolder.find('.panel-body').animate({scrollTop: $('.chatbox_body, mainHolder')[0].scrollHeight})