.table {
	margin-bottom: rem-calc(17px);
	border-collapse: collapse;
	border-spacing: 0;
	background: none;
	border: none;
	width: 100%;
	thead {
		background: none;
		th {
			vertical-align: bottom;
			border-bottom: 2px solid #3a3a3a;
			color: $body-font-color;
		}
	}
}

.hidden {
	display: none;
}

.fullWidth {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
}

ul.pagination li {
	color: darken($primary-color, 20%);
}

.without-margins {
	margin: 0 !important;
}

.without-padding {
	padding: 0 !important;
}

.with-content-padding {
	margin-bottom: rem-calc(50px);
}

.theme-prim-color {
	color: $primary-color;
}

.section-padding {
	padding: rem-calc(17px 0);
}

.top-bar {
	.name {
		line-height: rem-calc(60px);
	}
}

.nav-user-photo {
	margin: -15px 4px 0 0;
	border-radius: 100%;
	border: 2px solid $primary-color;
	max-width: 40px !important;
}

.user-info {
	display: inline-block;
	line-height: rem-calc(17px);
	small {
		display: block;
		font-size: rem-calc(10px);
	}
}

.middle-wrapper {
	background-color: $middle-bg-color;
}

.masthead {
	padding: rem-calc(12px 0);
	.tagline {
		font-family: 'PT Sans';
	}
}

#landing-top {
	background-image: image-url('header_2.jpg');
	@include responsive-bg-image(1920, 700);
}

.gallery {
	li {
		font-size: 80%;
		figure {
			position: relative;
		}
	}
}

.photo-holder {
	position: relative;
}

.ribbon-wrapper-green {
	width: rem-calc(85px);
	height: rem-calc(88px);
	overflow: hidden;
	position: absolute;
	bottom: 0;
	left: 0;
	.ribbon-green {
		font: bold rem-calc(15px) Sans-Serif;
		color: #333;
		text-align: center;
		text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
		@include rotate(45deg);
		position: relative;
		padding: rem-calc(7px 0);
		left: rem-calc(-35px);
		top: 60%;
		width: rem-calc(120px);
		background-color: #bfdc7a;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
		background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
		background-image: -moz-linear-gradient(top, #BFDC7A, #8EBF45);
		background-image: -ms-linear-gradient(top, #BFDC7A, #8EBF45);
		background-image: -o-linear-gradient(top, #BFDC7A, #8EBF45);
		color: #6a6340;
		-webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
		-moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
		box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
	}
}

.subscriptions {
	li {
		border-bottom: 1px solid $default-border-color;
		padding-bottom: rem-calc(10px);
		margin-bottom: rem-calc(10px) !important;
	}
}

#cboxTitle {
	text-transform: uppercase;
	font-size: rem-calc(14px);
}

.pixel_message, .video_message {
	position: absolute;
	width: 100%;
	text-align: center;
	background-color: white;
	h2 {
		color: black;
		margin: rem-calc(17px 0);
		font-size: rem-calc(25px);
		a {
			display: block;
			margin: rem-calc(5px 0);
		}
	}
}

.video_message {
	top: 37%;
}

.pixel_message {
	top: 45%;
}

.profile-image-wrapper {
	margin-bottom: rem-calc(17px);
	footer {
		padding: rem-calc(5px);
		background: $primary-color;
		color: white;
		font-size: rem-calc(14px);
		p {
			font-size: rem-calc(14px);
			margin: 0;
		}
	}
}

.inboxMessage {
	border-bottom: 1px dotted $default-border-color;
	header {
		margin-bottom: rem-calc(5px);
		h4 {
			margin-bottom: 0;
		}
	}
}

#main-footer {
	font-size: rem-calc(12px);
	padding: rem-calc(20px 0);
	p {
		font-size: rem-calc(12px);
	}
}

.price-per {
	color: red;
	background-color: #f6f6f6;
	text-align: center;
}

@media only screen and (max-width: 40em) {
	.pixel_message {
		h2 {
			font-size: rem-calc(14px);
		}
	}
}