#private_messages {
	position: fixed;
	bottom: 0;
	right: 5%;
	height: rem-calc(25px);
	padding: 0;
	margin: 0;
	color: $private-messages-default-font-color;
	background: $primary-color;
	z-index: 1000;
	& > li {
		position: relative;
		float: left;
		width: rem-calc(161px);
		border-left: 1px solid $default-border-color;
		padding: rem-calc(0 10px);
		line-height: rem-calc(23px);
		&.tab-selected {
			text-shadow: 0 1px 0 darken($primary-color, 5%);
			border: solid $default-border-color;
			border-width: 0 0 1px 1px;
		}
		&.tab-selected {
			width: rem-calc(160px);
			height: rem-calc(25px);
		}
	}
	#playerDiv {
		height: 0;
	}
	.chatbox {
		position: absolute;
		bottom: rem-calc(25px);
		right: rem-calc(-1px);
		width: rem-calc(225px);
		margin-bottom: 0;
		.panel-heading {
			.fa {
				color: $primary-color;
			}
		}
		.panel-body {
			height: rem-calc(180px);
			overflow: scroll;
			.chatbox_body {
				color: $primary-color;
				text-shadow: none;
				margin: 0;
				li {
					font-size: rem-calc(12px);
				}
			}
			.chat_promo_btn {
				text-align: center;
				display: block;
				margin: rem-calc(5px 0);
			}
			.promo_btn_1 {
				@include button(rem-calc(6), $secondary-color, true, true, false);
				color: $primary-color;
				margin: rem-calc(5px 0);
			}
			.promo_btn_2 {
				@include button(rem-calc(6), $primary-color, true, true, false);
				color: white;
				margin: rem-calc(5px 0);
			}
		}
		.chatbox_info {
			text-shadow: none;
			color: $primary-color;
			font-size: rem-calc(12px);
		}
		.panel-footer {
			border-bottom: none;
			form {
				input[type="text"] {
					margin-bottom: 0 !important;
				}
			}
		}
	}
	.notify_bar {
		.chat_window {
			margin-top: rem-calc(-280px);
			top: 0px;
			article {
				.panel-heading {
					.glyphicon-remove {
						margin-left: rem-calc(5px);
					}
				}
				.panel-body {
					height: rem-calc(200px);
					overflow: scroll;
					.chat_body {
						overflow: scroll;
						li {
							margin-bottom: rem-calc(10px);
							padding-bottom: rem-calc(5px);
							border-bottom: 1px dotted $primary-color;
							&.left {
								.chat_holder {
									margin-left: rem-calc(30px);
								}
							}
							&.right {
								.chat_holder {
									margin-right: rem-calc(30px);
								}
							}
							.chat_holder {
								p {
									margin: 0;
								}
							}
						}
						.chat_promo_btn {
							text-align: center;
							display: block;
							margin: rem-calc(5px 0);
						}
						.promo_btn_1 {
							background: $primary-color;
							color: black;
						}
						.promo_btn_2 {
							background: $default-border-color;
							color: $primary-color;
						}
					}
				}
			}
		}
		.chat_notify {
			min-width: rem-calc(20px);
			padding: rem-calc(0 10px);
			height: rem-calc(20px);
			position: relative;
			border: 1px solid $default-border-color;
			border-width: 1px 1px 0 1px;
			.notify_username {
				padding: 0 0 0 5px;
			}
		}
	}
}