<li>
	<figure class="without-margins">
		<div class="photo-holder">
			<%= link_to image_tag(user.avatar_photo_url(:thumb)), user_profile_path(user, user.profile) %>
			<% if user.vip? %>
				<%= link_to user_profile_path(user, user.profile), class: 'ribbon-wrapper-green' do  %>
					<div class="ribbon-green">
						VIP
					</div>
				<% end %>
			<% end %>
		</div>
		<figcaption>
			<div class="row">
				<div class="small-12 columns">
					<span class="theme-prim-color"><%= user.username %></span>
				</div>
			</div>
			<div class="row">
				<div class="small-12 columns">
					Hometown: <%= Rails.cache.fetch("#{current_user.id}_locations_#{user.id}") { @locations.sample.city } %>
				</div>
			</div>
			<div class="row">
				<div class="small-12 columns">
					Age: <%= user.profile.age %>
				</div>
			</div>
		</figcaption>
	</figure>
</li>