<h2>Users</h2>
<table class="table">
	<thead>
		<tr>
			<th>Email</th>
		</tr>
	</thead>
	<tbody>
	<% @users.each do |user| %>
		<tr>
			<td><%= user.email %></td>
		</tr>
	<% end %>
	</tbody>
</table>