<% provide :title, 'Online Users' %>
<div class="middle-wrapper">
  <section id="online-users" class="section-padding">
		<div class="row">
			<div class="small-12 columns">
				<ul class="gallery small-block-grid-2 large-block-grid-6">
					<% @users.each do |user| %>
						<%= render 'profile', {user: user, locations: @locations } %>
					<% end %>
				</ul>
			</div>
		</div>
	</section>
</div>