<% provide :title, 'Search Users' %>
<div class="middle-wrapper">
  <section id="search" class="section-padding">
    <div class="row">
			<section class="small-12 large-3 columns">
				<article class="panel-default">
					<header class="panel-heading">
						<h4>Filters</h4>
					</header>
					<div class="panel-body">
						<%= search_form_for @search, url: user_search_path, html: { method: :post } do |f| %>
							<div class="row">
								<h5>Between the ages of</h5>
								<div class="small-5 columns">
									<%= f.text_field :profile_age_gteq %>
								</div>
								<div class="small-1 columns">
									&
								</div>
								<div class="small-5 columns">
									<%= f.text_field :profile_age_lteq %>
								</div>
							</div>
							<div class="row">
								<div class="small-12 columns">
									<%= f.submit 'Search', class: 'button tiny radius' %>
								</div>
							</div>
						<% end %>
					</div>
				</article>
			</section>
      <section id="search_results" class="small-12 large-9 columns">
				<article class="panel-default">
					<header class="panel-heading">
						<h4>Search Results</h4>
					</header>
					<div class="panel-body">
						<ul class="gallery small-block-grid-2 large-block-grid-6">
							<% @users.each do |user| %>
								<%= render 'profile', { user: user, locations: @locations } %>
							<% end %>
						</ul>
						<div class="pagination-centered">
							<%= pagination_links @users %>
						</div>
					</div>
				</article>
			</section>
		</div>
	</section>
</div>