<% provide :title, 'Dashboard' %>
<div class="middle-wrapper">
	<section id="dashboard" class="section-padding">
		<% if !current_user.avatar %>
			<p class="text-center">Your profile is missing an avatar!</p>
		<% end %>
		<div class="row">
			<div class="small-12 large-6 columns">
				<article class="panel-default">
					<header class="panel-heading">
						<h4>who's online now</h4>
					</header>
					<div class="panel-body">
						<ul class="small-block-grid-2 large-block-grid-4 gallery">
							<% @online_users.each do |online_user| %>
								<li>
									<%= link_to image_tag(online_user.avatar_photo_url(:thumb), class: 'img-responsive center-block'), user_profile_path(online_user, online_user.profile), class: 'track-click', data: {ga_category: 'Girls', ga_action: 'click', ga_label: online_user.username} %>
									<%= online_user.username %>
								</li>
							<% end %>
						</ul>
					</div>
				</article>
			</div>
			<div class="small-12 large-6 columns">
				<article class="panel-default">
					<header class="panel-heading">
						<div class="row">
							<h4 class="small-6 columns">
								Hotties in
								<%= session[:user_info].real_region_name %>
							</h4>
							<div class="small-6 columns text-right">
								<%= link_to 'view more hotties', plans_path, class: 'button tiny radius' %>
							</div>
						</div>
					</header>
					<div class="panel-body">
						<ul class="small-block-grid-2 large-block-grid-4 gallery">
							<% @users.each do |user| %>
								<li>
									<%= link_to image_tag(user.avatar_photo_url(:thumb), class: 'img-responsive center-block'), user_profile_path(user, user.profile), class: 'track-click', data: {ga_category: 'Girls', ga_action: 'click', ga_label: user.username} %>
									<%= user.username %>
								</li>
							<% end %>
						</ul>
					</div>
				</article>
			</div>
		</div>
	</section>
</div>