<h2>Change your password</h2>
<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :put, class: 'form-horizontal'}) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>
  <div class="form-group">
    <%= f.label :password, "New password", class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= f.password_field :password, :autofocus => true, class: 'form-control' %>
		</div>
	</div>
  <div class="form-group">
    <%= f.label :password_confirmation, "Confirm new password", class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= f.password_field :password_confirmation %>
		</div>
	</div>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <%= f.submit "Change my password", class: 'btn btn-default' %>
		</div>
	</div>
<% end %>
<div class="row">
  <div class="col-md-offset-2 col-md-10">
    <%= render "devise/shared/links" %>
	</div>
</div>