<% provide :title, 'Forgot Password?' %>
<div class="middle-wrapper">
  <section class="section-padding">
		<div class="row">
			<div class="small-12 columns small-centered">
				<header class="text-center with-content-spacing">
					<h2>Forgot your password?</h2>
				</header>
			</div>
		</div>
    <div class="row">
      <div class="medium-6 small-12 columns">
        <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :post}) do |f| %>
          <%= devise_error_messages! %>
          <div class="row">
						<div class="small-12 columns">
            	<%= f.label :email %>
							<%= f.email_field :email, :autofocus => true %>
						</div>
					</div>
          <div class="row">
            <div class="small-12 columns">
              <%= f.submit "Send me reset password instructions", class: 'button tiny radius' %>
						</div>
					</div>
				<% end %>
        <div class="row">
          <div class="small-12 columns">
            <%= render "devise/shared/links" %>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>