<% provide :title, 'Add Video' %>
<%= form_for [@user, @video], html: { multipart: true} do |f| %>
	<% if @video.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@video.errors.count, 'error') %> prohibited this video from being saved</h2>
			<ul class="no-bullet">
				<% @video.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<div class="row">
		<div class="small-12 columns">
			<%= f.label :video %>
			<%= f.file_field :video %>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<%= f.submit 'Add Video', class: 'button tiny radius' %>
		</div>
	</div>
<% end %>