<% provide :title, "#{@user.username}'s Videos" %>
<div class="middle-wrapper">
	<section id="videos_index" class="section-padding">
		<div class="row">
			<div class="large-2 columns">
				<article class="panel-default">
					<header class="panel-heading">
						<h4>Options</h4>
					</header>
					<div class="panel-body">
						<ul class="side-nav">
							<% if policy(@user).add_video? %>
								<li><%= link_to 'Add Video', new_user_video_path(@user) %></li>
							<% end %>
							<li><%= link_to 'Photos', user_photos_path(@user) %></li>
							<li><%= link_to 'Profile', user_profile_path(@user, @user.profile) %></li>
						</ul>
					</div>
				</article>
			</div>
			<div class="large-10 columns">
				<article class="panel-default">
					<header class="panel-heading">
						<h4><%= @user.username %>'s videos</h4>
					</header>
					<div class="panel-body">
						<% if @videos.empty? %>
							<div class="row">
								<p class="small-12 columns">This user has no videos uploaded at this time.</p>
							</div>
						<% else %>
							<ul class="small-block-grid-2 large-block-grid-6">
								<% @videos.each do |video| %>
									<%= link_to image_tag(video.video.url(:thumb)), '#', class: 'videobox', data: { href: user_video_path(user_id: @user.id, id: video.id) } %>
								<% end %>
							</ul>
						<% end %>
					</div>
				</article>
			</div>
		</div>
	</section>
</div>