<video height="400" width="400" class="video_<%= @user.id %>">
	<source type="video/mp4" src="<%= @video.video.url %>">
	<object width="400" height="400" type="application/x-shockwave-flash" data="flashmediaelement.swf">
		<param name="movie" value="flashmediaelement.swf">
		<param name="flashvars" value="controls=true&file=<%= @video.video.url %>">
	</object>
</video>