<% if model.errors.any? %>
	<div id="error_explanation">
		<%= pluralize(model.errors.count, 'error') %> prohibited this from being saved:
		<ul>
			<% model.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>