<div id="flash">
	<% flash.each do |name, msg| %>
		<% if msg.is_a?(String) %>
			<div data-alert class="alert-box <%= flash_class(name) %>">
				<%= msg %>
				<a href="#" class="close">&times;</a>
			</div>
		<% end %>
	<% end %>
</div>