<footer id="main-footer">
	<div class="row">
		<div class="small-12 columns">
			<p>Disclaimer: This website contains adult material, all members and persons appearing on this site have contractually represented to us that they are 18 years of age or older.</p>
			<p>Explore sex dating, meet swingers, find local sex near you on the best online adult dating site on the web. Whether you are looking for hookups, casual dating, married dating with an Asian, White, Black, Latino, Interracial singles or couples for sex, Random Affair is the sex dating site for you. We have the hottest adult personals from Atlanta to Los Angeles; San Diego to Chicago, From San Francisco to New Yor. Random Affair members are all over the world whether you are in big cities like Boston, Philadelphia, Las Vegas, Houston, Miami, Seattle, or in smaller cities like Springfield, Columbus, Denver, Reno, Random Affair has you covered</p>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<p>Random Affair &trade; logo is service marks of Hotlight Inc.</p>
			Copyright &copy; 2014 Hotlight Inc.  All Rights Reserved. |
			<%= link_to 'Privacy Policy', privacy_path, remote: true %> |
			<%= link_to 'Terms & Conditions', terms_path, remote: true %> |
			<%= link_to 'Compliance', compliance_path, remote: true %> |
			<%= link_to 'About', about_path %>
		</div>
	</div>
</footer>

<%= render 'shared/login_modal' %>
<%= render 'shared/modal' %>