<section id="landing-top" class="clearfix">
	<% unless user_signed_in? %>
		<div class="row">
			<section class="large-7 columns">
				<%= render 'shared/flash' %>
			</section>
			<section class="large-5 columns registration-form">
				<header>
					<h2>Sign Up <span class="theme-prim-color">Now</span></h2>
					<h3>Start Hooking Up Tonight!</h3>
				</header>
				<%= render 'devise/registrations/form' %>
			</section>
		</div>
	<% end %>
</section>