<nav class="navbar navbar-default" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" data-toggle="collapse" type="button" data-target="#top_nav_collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div id="top_nav_collapse" class="collapse navbar-collapse">
			<% if user_signed_in? %>
				<ul class="nav navbar-nav">
					<%= nav_link('Home', user_dashboard_user_path(current_user), 'home')  %>
				</ul>
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a class="dropdown-toggle" href="#" data-toggle="dropdown">
							<span class="glyphicon glyphicon-user"></span>
							<%= current_user.email %>
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li>
								<%= link_to 'Logout', destroy_user_session_path, method: :delete %>
							</li>
							<% if current_user.is_admin? %>
								<li>
									<%= link_to 'Administration', admin_root_path %>
								</li>
							<% end %>
						</ul>
					</li>
				</ul>
			<% end %>
		</div>
	</div>
</nav>