<div class="reveal-modal tiny" data-reveal id="login-modal">
	<a class="close-reveal-modal">&#215;</a>
	<div class="row">
		<div class="small-12 columns">
			<h2 class="without-margins text-center">
				Log In
			</h2>
			<p class="text-center">
				To access your account
			</p>
			<%= render 'devise/sessions/form' %>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<%= render "devise/shared/links" %>
		</div>
	</div>
</div>