<% if user_signed_in? %>
	<ul class="left">
		<%= nav_link('Home', user_dashboard_user_path(current_user), 'home') %>
		<li class="divider"></li>
		<%= nav_link('Search', user_search_path, 'search') %>
		<li class="divider"></li>
		<%= nav_link('Online', online_users_users_path, 'link') %>
		<li class="divider"></li>
		<li class=<% (current_page?(user_messages_path) ? 'active' : '') %>>
			<%= link_to user_messages_path do %>
				<span class="fa fa-envelope"></span>
				Inbox
				<span class="label radius">
					<%= current_user.user_messages.unread.count %>
				</span>
			<% end %>
		</li>
	</ul>
	<ul class="right">
		<% unless current_user.is_vip? || current_user.is_admin? %>
			<li class="has-form">
				<%= link_to 'Upgrade Now', plans_path, class: 'small button radius' %>
			</li>
		<% end %>
		<li class="has-dropdown">
			<a href="#">
				<%= image_tag(current_user.avatar_photo_url(:tiny), class: 'nav-user-photo') %>
				<div class="user-info">
					<small>
						<%= current_user.role %>
					</small>
					<%= current_user.email %>
				</div>
			</a>
			<ul class="dropdown">
				<li><%= link_to 'Add Photos', user_photos_path(current_user) %></li>
				<li><%= link_to 'Add Videos', user_videos_path(current_user) %></li>
				<li><%= link_to 'Edit Profile', edit_user_profile_path(current_user, current_user.profile.id) %></li>
				<li><%= link_to 'My Profile', user_profile_path(current_user, current_user.profile) %></li>
				<% if current_user.is_admin? %>
					<li><%= link_to 'Administration', admin_root_path%></li>
				<% end %>
				<li><%= link_to('Logout', destroy_user_session_path, method: :delete)%></li>
			</ul>
		</li>
	</ul>
<% else %>
	<ul class="right">
		<li><%= link_to('Login', new_user_session_path) %></li>
		<li><%= link_to 'Sign up', new_user_registration_path %></li>
	</ul>
<% end %>