<div class="row">
	<div class="notify_bar">
		<div class="col-md-2 col-md-offset-10 chat_notify">
			<%= image_tag(profile.avatar_photo_url(:tiny), size: '15') %>
			<span class="notify_username">
				<%= profile.username %>
			</span>
		</div>
		<div class="col-md-3 col-md-offset-9 chat_window hidden">
			<article class="panel panel-default">
				<header class="panel-heading">
					<span class="glyphicon glyphicon-comment"></span>
					<%= profile.username %>
					<span class="glyphicon glyphicon-remove pull-right"></span>
					<span class="glyphicon glyphicon-minus pull-right"></span>
				</header>
				<div class="panel-body">
					<ul class="chat_body">
						<% unless current_user.vip? %>
							<li>
								<%= image_tag(profile.avatar_photo_url(:tiny)) %>
								<span>Would like to see your photos</span>
							</li>
							<li><%= link_to 'Chat with her', plans_path, class: 'btn chat_promo_btn promo_btn_1' %></li>
							<li><%= link_to 'Not now', '#', class: 'btn chat_promo_btn promo_btn_2' %></li>
						<% end %>
					</ul>
				</div>
				<footer class="panel-footer">
					<div class="input-group">
						<% if current_user.vip? %>
							<input id="btn-input" class="form-control input-sm" type="text" placeholder="Type your message here...">
						<% else %>
							<input id="btn-input" class="form-control input-sm" type="text" placeholder="Upgrade to chat..." disabled>
						<span class="input-group-btn">
							<button class="btn btn-primary btn-sm <% current_user.vip? ? '' : 'disabled' %>" id="btn-chat">Send</button>
						</span>
						<% end %>
					</div>
				</footer>
			</article>
		</div>
	</div>
</div>