<div id="main-modal" class="reveal-modal" data-reveal>
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<a href="#" class="close-reveal-modal">&#215;</a>
				<h4 class="modal-title"></h4>
			</div>
			<div class="modal-body">
				<div class="modal-body-content"></div>
			</div>
		</div>
	</div>
</div>