<nav class="top-bar" data-topbar>
	<ul class="title-area">
		<li class="name">
			<h1>
				<%= link_to image_tag('RA_logo.png'), (user_signed_in? ? user_dashboard_user_path(current_user) : root_path)  %>
			</h1>
		</li>
		<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
	</ul>
	<section class="top-bar-section">
		<%= render 'shared/login_links' %>
	</section>
</nav>
