<ul class="inline-list">
	<% if policy(UserMessage.new).create? %>
		<li><%= icon_link('Message', new_user_message_path(user: user.id), 'envelope', class: 'button tiny radius without-margins', data: { tooltip: '', options: 'disable_for_touch:true' }, title: 'Message' ) %></li>
	<% else %>
		<li> <%= icon_link('Message', plans_path, 'envelope', class: 'button tiny radius without-margins', data: { tooltip: '', options: 'disable_for_touch:true'}, title: 'Message' ) %></li>
	<% end %>
	<% if policy(Conversation.new).create? %>
		<li><%= icon_link('IM', conversations_path, 'envelope', class: 'button tiny radius im_chat_request without-margins', data: { tooltip: '', options: 'disable_for_touch:true', userid: user.id, username: user.username}, title: 'IM') %></li>
	<% else %>
		<li><%= icon_link('IM', plans_path, 'envelope', class: 'button tiny radius without-margins', data: { tooltip: '', options: 'disable_for_touch:true'}, title: 'IM') %></li>
	<% end %>
</ul>