<div class="hide-for-large-up">
	<div class="row masthead">
		<%= link_to image_tag('RA_logo.png'), root_url, class: 'small-6 columns'  %>
		<div class="small-6 columns text-right">
			<% unless user_signed_in? %>
				<a href="#" data-reveal-id="login-modal" class="button tiny radius">Login</a>
			<% end %>
		</div>
	</div>
	<div class="row">
		<h4 class="tagline text-center">Find horny singles online now in <%= session[:user_info].city_name %></h4>
	</div>
</div>

<div class="row masthead show-for-large-up">
	<%= link_to image_tag('RA_logo.png'), root_url, class: 'small-4 columns' %>
	<div class="small-7 columns text-center">
		<h4 class="tagline without-margins">
			Find horny singles online now in
			<%= session[:user_info].city_name %>
		</h4>
	</div>
	<div class="small-1 columns text-right">
		<% unless user_signed_in? %>
			<a href="#" data-reveal-id="login-modal">Log In</a>
		<% end %>
	</div>
</div>