if($('#flash').length > 0) {
	$('#flash').remove();
	$('.registration-form').prepend("<%= escape_javascript raw(flash_normal) %>");
}
else {
	$('.registration-form').prepend("<%= escape_javascript raw(flash_normal )%>");
}