<%= form_for @user_message do |f| %>
	<% if @user_message.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@user_message.errors.count, 'error') %> prohibited this message from being sent:</h2>
			<ul class="no-bullet">
				<% @user_message.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<div class="row">
		<div class="small-12 columns">
			<%= f.hidden_field :sender_id, value: current_user.id %>
			<%= f.hidden_field :user_id, value: @recipient.id %>
			<%= hidden_field_tag :user, @recipient.id %>
			<%= f.text_field :body %>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<%= f.submit 'Send Message', class: 'button tiny radius' %>
		</div>
	</div>
<% end %>