<% provide :title, 'Inbox' %>
<div class="middle-wrapper">
	<section id="inbox" class="section-padding">
		<div class="row">
			<div class="large-2 columns">
				<article class="panel-default">
					<header class="panel-heading">
						<h4>Options</h4>
					</header>
					<div class="panel-body without-padding">
						<ul class="side-nav">
							<li><%= link_to 'Inbox', user_messages_path %></li>
							<li><%= link_to 'Sent Messages', sent_messages_user_messages_path %></li>
						</ul>
					</div>
				</article>
			</div>
			<div class="large-10 columns">
				<article class="panel-default">
					<header class="panel-heading">
						<h4>My Messages</h4>
					</header>
					<div class="panel-body">
						<table class="table">
							<thead>
								<tr>
									<th>From</th>
									<th>Received</th>
									<th>Options</th>
								</tr>
							</thead>
							<tbody>
							<% @user_messages.each do |user_message| %>
								<tr>
									<td>
										<%= image_tag user_message.sender.avatar_photo_url(:tiny), size: '30' %>
										<%= user_message.from.username %>
									</td>
									<% if policy(user_message).show? %>
										<td><%= time_ago_in_words(user_message.created_at) %> ago</td>
										<td>
											<%= icon_link('Show', user_message_path(user_message, user: user_message.user.id), 'file') %>
											<% if policy(user_message).destroy? %>
												<%= icon_link('Delete', user_message_path(user_message), 'remove', method: :delete, data: { confirm: 'Are you sure?' }) %>
											<% end %>
										</td>
									<% else %>
										<td>This user has a message for you!</td>
										<td><%= link_to 'Add subscription to view message', plans_path %></td>
									<% end %>
									<td>
										<% if !user_message.read?  %>
											<span class="label">Unread</span>
										<% end %>
									</td>
								</tr>
							<% end %>
							</tbody>
						</table>
					</div>
				</article>
			</div>
		</div>
	</section>
</div>