<% provide :title, "Send message to #{@recipient.username}" %>
<div class="middle-wrapper">
	<section id="message" class="section-padding">
		<div class="row">
			<div class="small-12 columns">
				<article class="panel-default">
					<header class="panel-heading">
						<h4>Send message to <%= @recipient.username %> <%= image_tag @recipient.avatar_photo_url(:tiny) %></h4>
					</header>
					<div class="panel-body">
						<%= render 'form' %>
					</div>
				</article>
			</div>
		</div>
	</section>
</div>