<% provide :title, 'Inbox' %>
<div class="middle-wrapper">
	<section id="inbox" class="section-padding">
		<div class="row">
			<div class="large-2 columns">
				<article class="panel-default">
					<header class="panel-heading">
						<h4>Options</h4>
					</header>
					<div class="panel-body without-padding">
						<ul class="side-nav">
							<li><%= link_to 'Inbox', user_messages_path %></li>
							<li><%= link_to 'Sent Messages', sent_messages_user_messages_path %></li>
						</ul>
					</div>
				</article>
			</div>
			<div class="large-10 columns">
				<article class="panel-default">
					<header class="panel-heading">
						<h4>Sent Messages</h4>
					</header>
					<div class="panel-body">
						<table class="table">
							<thead>
								<tr>
									<th>To</th>
									<th>Sent</th>
								</tr>
							</thead>
							<tbody>
							<% @user_messages.each do |user_message| %>
								<tr>
									<td>
										<%= image_tag user_message.user.avatar_photo_url(:tiny), size: '30' %>
										<%= user_message.user.username %>
									</td>
									<td>
										<%= time_ago_in_words(user_message.created_at) %> ago
									</td>
								</tr>
							<% end %>
							</tbody>
						</table>
					</div>
				</article>
			</div>
		</div>
	</section>
</div>