<% provide :title, 'Message' %>
<div class="middle-wrapper">
	<section id="inboxMessage" class="section-padding">
		<div class="row">
			<div class="small-12 columns">
				<article class="panel-default">
					<header class="panel-heading">
						<h4>
							Messages from <%= @user_message.sender.username %>
							<%= image_tag @user_message.sender.avatar_photo_url(:tiny), size: '20' %>
						</h4>
					</header>
					<div class="panel-body">
						<article class="inboxMessage">
							<header>
								<h4>
									<%= @user_message.sender.username %>
									<small>to <%= (@user_message.user.username == current_user.username) ? 'me' : @user_message.user.username %></small>
								</h4>
							</header>
							<p><%= @user_message.body %></p>
						</article>
						<% if !@children.empty? %>
							<% @children.each do |child| %>
								<article class="inboxMessage sub-message">
									<header>
										<h4>
											<%= child.sender.username %>
											<small>
												to
												<%= (child.user.username == current_user.username) ? 'me' : child.user.username %>
											</small>
										</h4>
									</header>
									<p><%= child.body %></p>
								</article>
							<% end %>
						<% end %>
					</div>
					<footer class="panel-footer">
						<%= form_for UserMessage.new do |f| %>
							<%= f.hidden_field :sender_id, value: current_user.id %>
							<%= f.hidden_field :user_id, value: @user_message.sender.id %>
							<%= f.hidden_field :parent_id, value: @user_message.id %>
							<%= hidden_field_tag :user, @user_message.sender.id %>
							<div class="row">
								<div class="small-6 columns">
									<%= f.text_field :body %>
								</div>
								<div class="small-6 columns">
									<%= f.submit 'Send Reply', class: 'button tiny radius' %>
								</div>
							</div>
						<% end %>
					</footer>
				</article>
			</div>
		</div>
	</section>
</div>