<%= fetch(:rails_env) %>:
	adapter: postgresql
	timeout: 5000
	encoding: utf8
	reconnect: false
	database: <%= "#{fetch(:application)}_#{fetch(:rails_env)}" %>
	pool: 5
	username: <%= "#{fetch(:application)}_#{fetch(:rails_env)}" %>
	password:
	host:
	port: 5432