upstream randomaffair {
	#server unix:/tmp/sockets/puma.sock;
	server unix:/home/deployer/apps/randomaffair_production/shared/tmp/sockets/puma.<%= fetch(:full_app_name) %>.sock;
}

server {
	listen 80 default deferred;
	root <%= fetch(:deploy_to) %>/current/public;

	location ^~ /assets/ {
		gzip_static on;
		expires max;
		add_header Cache-Control public;
	}

	try_files $uri/index.html $uri @randomaffair;

	location @randomaffair {
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header Host $http_host;
		proxy_redirect off;
		proxy_pass http://randomaffair;
	}

	error_page 500 502 503 504 /500.html;
	client_max_body_size 4G;
	keepalive_timeout 10;
}

<% if fetch(:enable_ssl) %>
	server {
		listen 443 default deferred;
		root <%= fetch(:deploy_to) %>/current/public;

		location ^~ /assets/ {
			gzip_static on;
			expires max;
			add_header Cache-Control public;
		}

		try_files $uri/index.html $uri @randomaffair;
		location @randomaffair {
			proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
			proxy_set_header   X-Forwarded-Proto https;
			proxy_set_header Host $http_host;
			proxy_redirect off;
			proxy_pass http://randomaffair;
		}

		ssl on;
		ssl_certificate <%= fetch(:deploy_to) %>/shared/server.crt;
		ssl_certificate_key <%= fetch(:deploy_to) %>/shared/server.key;

		ssl_session_timeout 5m;
		ssl_protocols SSLv2 SSLv3 TLSv1;
		ssl_ciphers HIGH:!aNULL:!MD5;
		ssl_prefer_server_ciphers on;
	}#
<% end %>