li
  = image_link_to(friendship.friend.profile.avatar_photo_url(:tiny), profile_path(friendship.friend.profile)) do
    p
      = friendship.friend.profile.username
  - if can? :destroy, friendship
    = link_to 'Remove Friend', friendship_path(friendship), method: :delete, data: { confirm: 'Are you sure you want to remove this friendship?' }
