li
  = image_tag pending_friendship.friend.profile.avatar_photo_url(:thumb)
  p
    = pending_friendship.friend.profile.username
  - if can? :update, pending_friendship
    = link_to 'Accept', friendship_path(pending_friendship.friend), method: 'patch'
