.middle-wrapper
  section#friendship.container.section-padding
    .row
      header
        h2
          | My Friends
      .col-md-2
        ul.nav.nav-pills.nav-stacked
          li.active
            a[href="#friends" data-toggle="tab"]
              | Friends
          li
            a[href="#pending" data-toggle="tab"]
              | Awaiting Action
          li
            a[href="#requested" data-toggle="tab"]
              | Pending Requested
      .tab-content.col-md-9.col-md-offset-1
        #friends.tab-pane.active
          - if @friendships.empty?
            p
              | You are a sad and lonely person and really need to get out more cause you have no damn friends
          - else
            ul.list-inline
              - @friendships.each do |friendship|
                = render 'friendships/friends', friendship: friendship
        #pending.tab-pane
          - if @pending_friendships.empty?
            p
              | No pending
          - else
            ul.list-inline
              - @pending_friendships.each do |pending_friendship|
                = render 'friendships/pending', pending_friendship: pending_friendship
        #requested.tab-pane
          - if @requested_friendships.empty?
            p
              | You have not requested any friends
          - else
            ul.list-inline
              - @requested_friendships.each do |requested_friendship|
                = render 'friendships/requested', requested_friendship: requested_friendship
