<h3 class="center-text">18 U.S.C. Section 2257 Compliance Notice</h3>

<p>All models, actors, actresses and other persons that appear in any visual portrayal of actual or simulated sexually explicit conduct appearing on, or otherwise contained in, this website were over the age of eighteen (18) years at the time the visual image was produced. Records required for all depictions of actual sexually explicit conduct by Title 18 U.S.C. 2257 are on file with the appropriate Records Custodian.</p>
<p>  All other visual depictions displayed on this Website are exempt from the provision of 18 U.S.C. 2257, 2257A and/or 28 C.F.R. 75, because 1) they do not portray conduct as specifically listed in 18 U.S.C section 2256 (2)(A) (i) through (iv), 2) they do not portray conduct as specifically listed in 18 U.S.C. section 2257A, 3) they do not portray conduct listed in 18 U.S.C. section 2256(2)(A)(v) produced after July 27, 2006, or 4) are otherwise exempt because the visual depictions were created prior to July 3, 1995.</p>

<p class="bold">The records required pursuant to 18 U.S.C. section 2257 and 2257(A) and 28 C.F.R. 75 for all materials contained in the website are kept by the following Custodian of Records:</p>
<p>
	  Custodian of Records<br>
	Hot Light LLC
</p>


