<h4 class="center-text">Randomaffair.com</h4>
<h4 class="center-text">Terms of Use</h4>
<p class="center-text">Created August 5, 2014</p>
<p class="center-text">Updated August 8, 2014</p>

<p class="indented">Introduction</p>
<p>Welcome to Randomaffair.com, (the, or this "Site"). Thank you for visiting and have a great time!</p>
<p>The Site shall sometimes be referred to as (“we”, “us”, “our”, and “ours”).</p>
<p>It is important to us that you, and our other visitors, have the best possible experience while using the Site and that when you use this Site you are fully aware of your respective legal rights and obligations.  For that reason, we have created these Terms of Use as the legally binding terms to govern your use of this Site.</p>
<p class="bold">Please read these Terms of Use carefully before using the Site, because they affect your legal rights and obligations.  If you do not agree with these Terms of Use or any part hereof then please leave the Site immediately.  These Terms of Use constitute a legally binding contract between you and the Site.</p>
<p class="indented">Acceptance of these Terms of Use and Incorporations by Reference</p>
<p>If you do not agree with any of these Terms of Use, please do not use this Site and leave immediately.  By using this Site you shall be deemed to have irrevocably agreed to these Terms of Use and any amendments made from time to time.  Additionally, you understand and agree that our Privacy Policy is hereby incorporated by reference.</p>
<p>Some areas of this Site may be subject to additional terms and conditions, which you should read carefully before making any use of those areas.  Such additional terms will not change or replace these Terms of Use regarding use of this Site, unless otherwise expressly stated.</p>
<p>You agree that we may periodically modify these Terms of Use.  Notification of any changes to these Terms of Use shall be posted on the Site or sent via electronic mail, as we may determine in our sole and absolute discretion.  Following your notice of any modifications to these Terms of Use, if you do not agree to any portion of the modifications, you should terminate your use of the Site immediately.  Your continued use of the Site now, or following the posting of notice of any changes to these Terms of Use, shall constitute a binding acceptance by you of these Terms of Use, or any subsequent modifications.</p>
<p class="indented">Contact Us</p>
<p>This Site is operated by Hot Light LLC, a New York limited liability company, whose mailing address is: INSERT MAILING ADDRESS.  All comments, complaints or support related issues shall be submitted electronically to the Site by electronic mail to: support@Randomaffair.com.</p>
<p class="indented">Registration and Memberships</p>
<p>Although much of the Site is available without creating an account, certain features of the Site may require an account and/or membership before access is granted.  To access this Site or some of the resources it has to offer, you may be asked to provide registration details.  It is a condition of use of this Site that all of the information you provide be correct, current, and complete.  If we believe the details you provide are not correct, current, or complete, we have the right to refuse you access to the Site, or any of its resources, and to terminate or suspend your account.</p>
<p>Membership – Certain features of the Site are offered in consideration of you paying a monthly fee.  The following list of membership rates are for reference purposes only.  Our current and controlling membership rates appear on the Site.  You will be automatically rebilled according to your selected payment option for an amount equal to the membership rate that you selected.</p>
<dl>
	<dt>Membership Rates as of 2/24/2013 –</dt>
	<dd>1 Day Membership - $1.00 per day;</dd>
	<dd>1 Month Membership - $19.95 per month; or</dd>
	<dd>3 Month Membership - $14.95 per month.</dd>
</dl>
<p>By registering to be a paid member or becoming a paid member of the Site, you understand and agree to the following:</p>
<ul>
	<li>that we employ an automatic rebill procedure in order to provide continuity of service;</li>
	<li>that all of the information that you provide us during the signup/registration process, and in any other interaction with us, shall be truthful, correct, current and complete;</li>
	<li>that if any of the information that you provide us during the signup/registration process is false, misleading, incomplete, or inaccurate, your membership shall be immediately terminated and you shall be responsible for any costs and/or expenses of any kind that we incur as a result of your breach of this provision;</li>
	<li>that we have the unrestricted right to terminate your membership at any time for any reason whatsoever;</li>
	<li>that you will never, sell, transfer, lend, or lease your membership to any third party;</li>
	<li>that we may automatically generate invitations to complete membership application for our other partner or affiliated websites when you register for membership with the Site (you will not be charged for our other partner of affiliated websites unless you affirmatively choose to complete their membership application and complete their registration process);</li>
	<li>that all membership fees paid to the Site are non-refundable and you are solely responsible for any and all credit card charge back fees, dishonored check fees and any related fees that we incur with respect to your account; and</li>
	<li>that if you believe that you have been erroneously billed, you must notify us immediately.  If you do not notify us of a billing error within Thirty (30) days after any alleged billing error appears on any account statement, such fee(s) shall be deemed acceptable by you for all purposes, including but not limited to, resolution of inquiries made by your credit card issuer.  You hereby release us from all liabilities and claims of loss resulting from any error or discrepancy that is not reported to us within Thirty (30) days of its publications.</li>
</ul>
<p class="indented">Sexually Explicit Material and Minors</p>
<p>This Site contains information, links, images, audio, and videos of sexually explicit material (collectively, the "Sexually Explicit Material").  Please leave the Site immediately if:</p>
<ol>
	<li>you are not at least Eighteen (18) years of age or the age of majority in each and every jurisdiction in which you will or may view the Sexually Explicit Material, whichever is higher (the “Age of Majority”);</li>
	<li>the Sexually Explicit Material offends you; or</li>
	<li>viewing the Sexually Explicit Material is not legal in each and every community where you may view it.  </li>
</ol>

<p>By choosing to enter and continue to utilize the Site, you are affirming under oath and penalties of perjury that all of the following statements are completely true and correct:</p>
<ul>
	<li>I have attained the Age of Majority in my jurisdiction;</li>
	<li>The Sexually Explicit Material that I am viewing is for my own personal use and entertainment and I will not expose any minor to the Sexually Explicit Material;</li>
	<li>I desire to receive, view and/or download the Sexually Explicit Material;</li>
	<li>It is my constitutional right to receive, view, and/or download the Sexually Explicit Material;</li>
	<li>I believe that sexual acts between consenting adults are neither offensive nor obscene and I desire to view and/or download the Sexually Explicit Material;</li>
	<li>The viewing, reading and downloading of Sexually Explicit Material does not violate the standards of any community, town, city, state or country where I will be viewing, reading and/or downloading the Sexually Explicit Material;</li>
	<li>I am solely responsible for any false disclosures or legal ramifications of viewing, reading or downloading any of the Sexually Explicit Material.  I further agree that neither the Site nor its affiliates, agents and operators can or will be held responsible for any legal ramifications arising from any fraudulent entry into or use of the Site;</li>
	<li>I understand and agree that my use of the Site is governed by these Terms of Use, and the Site’s Privacy Policy, which I have carefully reviewed and unconditionally accepted, and I agree to be legally bound by these Terms of Use and Privacy Policy.  I further agree that I have had the time and opportunity to consult with an attorney of my own choosing before agreeing to be bound by these Terms of Use and the Site’s Privacy Policy;</li>
	<li>I agree that by entering the Site, registering to become a member, viewing and/or downloading any of the Sexually Explicit Material, I am subjecting myself, and any business entity in which I have any legal or equitable interest, to the personal jurisdiction of the State of New York, Nassau County, should any dispute arise at any time between the Site, myself and/or such business entity; and</li>
	<li>I agree that the Sexually Explicit Materials displayed on the Site are intended to be used by responsible adults as sexual aids, to provide sexual education and to provide sexual entertainment.</li>
</ul>
<p class="indented">V.	Trademarks and Copyrights</p>
<p>This Site, the Sexually Explicit Material and all other content and materials incorporated on the Site (the "Material"), are protected by copyrights, patents, trade secrets or other proprietary rights ("Copyrights").   Some of the characters, logos or other images incorporated on this Site are also protected as registered or unregistered trademarks, trade names and/or service marks owned by others ("Trademarks").  We respect the intellectual property rights of others and ask users of this Site to do the same.</p>
<p class="indented">Your Use of Material</p>
<p>Your right to make use of the Site and any Material or other content appearing on it, is subject to your compliance with these Terms of Use.  Modification or use of the Material or any other content on this Site for any purpose not permitted by these Terms of Use may be a violation of the Copyrights and/or Trademarks and is prohibited.</p>
<p>You may access and display Material and all other content displayed on this Site for non-commercial, personal, entertainment use on a single computer only.  The Material and all other content on this Site may not otherwise be copied, reproduced, republished, uploaded, posted, transmitted, distributed or used in any way unless specifically authorized by us.  Any authorization to copy Material granted by us in any part of this Site for any reason is restricted to making a single copy for non-commercial, personal, entertainment use on a single computer only, and is subject to your keeping intact all copyright and other proprietary notices.  Using any Material on any other website or networked computer environment is prohibited.  Also, decompiling, reverse engineering, disassembling, or otherwise reducing the code used in any software on this Site into a readable form in order to examine the construction of such software and/or to copy or create other products based (in whole or in part) on such software, is prohibited.</p>
<p class="indented">Disclaimer of Warranties</p>
<p>YOUR USE OF THIS SITE IS AT YOUR OWN RISK. THE SITE AND ALL THE MATERIALS, INFORMATION, SOFTWARE, FACILITIES, SERVICES AND OTHER CONTENT ON THE SITE ARE PROVIDED "AS IS" AND "AS AVAILABLE" WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED.  TO THE FULLEST EXTENT PERMISSIBLE PURSUANT TO APPLICABLE LAW, THE SITE, AND OUR AFFILIATED COMPANIES DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT.  WE DO NOT WARRANT THAT THE FUNCTIONS CONTAINED ON THIS SITE WILL BE AVAILABLE, UNINTERRUPTED OR ERROR-FREE, THAT DEFECTS WILL BE CORRECTED, OR THAT THE SITE OR THE SERVERS THAT MAKE THE SITE AVAILABLE ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS.  WE DO NOT WARRANT OR MAKE ANY REPRESENTATIONS REGARDING THE USE OR THE RESULTS OF THE USE OF THE MATERIAL, INFORMATION, SOFTWARE, FACILITIES, SERVICES OR OTHER CONTENT IN THE SITE OR ANY WEBSITES LINKED TO THE SITE IN TERMS OF THEIR CORRECTNESS, ACCURACY, RELIABILITY, OR OTHERWISE.  WE MAKE NO WARRANTIES THAT YOUR USE OF THE MATERIAL, INFORMATION, SOFTWARE, FACILITIES, SERVICE OR OTHER CONTENT IN THE SITE OR ANY WEB SITE WILL NOT INFRINGE THE RIGHTS OF OTHERS AND WE ASSUME NO LIABILITY OR RESPONSIBILITY FOR ERRORS OR OMMISSIONS IN SUCH MATERIALS, INFORMATION, SOFTWARE, FACILITIES, SERVICE OR OTHER CONTENT OF THE SITE OR ANY OTHER WEB SITE. IF APPLICABLE LAW DOES NOT ALLOW THE EXCLUSION OF SOME OR ALL OF THE ABOVE IMPLIED WARRANTIES TO APPLY TO YOU, THE ABOVE EXCLUSIONS WILL APPLY TO YOU ONLY TO THE EXTENT PERMITTED BY APPLICABLE LAW.</p>
<p class="indented">Limitation of Liability</p>
<p>WE DISCLAIM ALL LIABILITY WHETHER BASED IN CONTRACT, TORT (INCLUDING NEGLIGENCE), STRICT LIABILITY OR OTHERWISE, AND DO NOT ACCEPT ANY LIABILITY FOR ANY LOSS OR DAMAGE (DIRECT, INDIRECT, PUNITIVE, ACTUAL, CONSEQUENTIAL, INCIDENTAL, SPECIAL, EXEMPLARY OR OTHERWISE) RESULTING FROM ANY USE OF, OR INABILITY TO USE, THE SITE OR ANY OTHER WEB SITE, OR THE MATERIAL, INFORMATION, SOFTWARE, FACILITIES, SERVICES OR OTHER CONTENT ON THE SITE OR ANY OTHER WEBSITE, REGARDLESS OF THE BASIS UPON WHICH LIABILITY IS CLAIMED AND EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH LOSS OR DAMAGE.  WITHOUT LIMITATION, YOU ASSUME THE ENTIRE COST OF ALL NECESSARY SERVICING, REPAIR OR CORRECTION IN THE EVENT OF ANY SUCH LOSS OR DAMAGE ARISING. IF APPLICABLE LAW DOES NOT ALLOW ALL OR ANY PART OF THE ABOVE LIMITATION OF LIABILITY TO APPLY TO YOU, THE LIMITATIONS WILL APPLY TO YOU ONLY TO THE EXTENT PERMITTED BY APPLICABLE LAW.</p>
<p class="indented">Comments</p>
<p>THE MATERIAL, INFORMATION AND OPINIONS INCLUDED AND/OR EXPRESSED IN OR ON COMMENT SECTIONS ON THIS SITE ARE NOT NECESSARILY THOSE OF US OR CONTENT PROVIDERS.  WE DO NOT UNDERTAKE TO MONITOR OR REVIEW THE COMMENTS, AND THE CONTENT OF THE COMMENTS IS NOT OUR RESPONSIBILITY.   WE MAY REMOVE OR MODIFY ANY CONTENT OR COMMENTS WITHOUT NOTICE OR LIABILITY AT ANY TIME IN OUR SOLE AND ABSOLUTE DISCRETION.  ANY USE OF THE COMMENTS WILL BE AT YOUR OWN RISK AND WILL BE SUBJECT TO THE DISCLAIMERS AND LIMITATIONS ON LIABILITY SET OUT ABOVE.</p>
<p>Please act responsibly when using this Site.  You may only use this Site and its contents for lawful purposes and in accordance with applicable law and you are prohibited from storing, distributing or transmitting any unlawful material through this Site.  You may not collect or store personal information regarding other users.  You recognize that storing, distributing or transmitting unlawful material could expose you to criminal and/or civil liability.  You agree that if a third-party claims that material you have contributed to the Site is unlawful, you will bear the burden of establishing that it is lawful.  You understand and agree that all materials publicly posted (other than by us) or privately transmitted on or through this Site are the sole responsibility of the sender, not us, and that you are responsible for all material you upload, post or otherwise transmit to or through this Site.</p>
<p>We require that you do not post comments or otherwise make available on this Site any content, or act in a way, which in our opinion:</p>
<ol type="a">
	<li>libels, defames, invades privacy, stalks, is obscene, racist, abusive, harassing, threatening or offensive;</li>
	<li>disparages, criticizes, belittles, parodies or otherwise portrays in a negative light any actor appearing in the content;</li>
	<li>seeks to exploit or harm children by exposing them to inappropriate content, asking for personally identifiable details or otherwise;</li>
	<li>infringes any intellectual property or other right of any entity or person, including violating anyone's copyrights or trademarks or their rights of publicity;</li>
	<li>violates any law or may be considered to violate any law;</li>
	<li>you do not have the right to transmit under any contractual or other relationship (e.g., inside information, proprietary or confidential information received in the context of an employment or a non-disclosure agreement);</li>
	<li>advocates or promotes illegal activity;</li>
	<li>impersonates or misrepresents your connection to any other entity or person or otherwise manipulates headers or identifiers to disguise the origin of the content;</li>
	<li>advertises any commercial endeavor (e.g., offering for sale products or services) or otherwise engages in any commercial activity (e.g., conducting raffles or contests, displaying sponsorship banners, and/or soliciting goods or services) except as specifically authorized on this Site;</li>
	<li>solicits funds, advertisers or sponsors;</li>
	<li>includes programs which contain viruses, worms and/or 'Trojan horses' or any other computer code, files or programs designed to interrupt, overload, collapse, destroy or limit the functionality of any computer software or hardware or telecommunications;</li>
	<li>disrupts the normal flow of dialogue, causes a screen to scroll faster than other users are able to type, or otherwise act in a way which affects the ability of other people to engage in real time activities via the Site;</li>
	<li>copies any other pages or images on this Site except with appropriate authority;</li>
	<li>includes MP3 format files;</li>
	<li>amounts to a 'pyramid' or similar scheme;</li>
	<li>amounts to 'data warehousing' (i.e., using any web space made available to you as storage for large files or large amount of data which are only linked from other sites). You must provide a reasonable amount of content to accompany such material in order that at least some of the traffic to your site comes directly via us;</li>
	<li>disobeys any policy or regulations established from time to time regarding use of this Site or any networks connected to this Site; or</li>
	<li>contains links to other sites that contain the kind of content, which falls within the descriptions set out at (a) to (q) above.</li>
</ol>
<p>In addition, you are prohibited from removing any sponsorship banners or other Material inserted by us anywhere on this Site.</p>
<p>You may not reproduce, sell, resell or otherwise exploit any resource, or access to any resource, contained on this Site.</p>
<p class="indented">Security</p>
<p>Any usernames and passwords used for this Site are for individual use only.  You shall be responsible for the security of your username and password (if any).  We shall be entitled to monitor your username and password and, at our discretion, require you to change it or we may change it.  If you use a username and password that we consider insecure, we will be entitled to require this to be changed and/or terminate your account.</p>
<p>You are prohibited from using any services or facilities provided in connection with this Site to compromise security or tamper with system resources and/or accounts. The use or distribution of tools designed for compromising security (e.g. password guessing programs, cracking tools or network probing tools) are strictly prohibited. If you become involved in any violation of system security, we reserve the right to release your details to system administrators at other sites in order to assist them in resolving security incidents.</p>
<p class="indented">Investigations</p>
<p>We reserve the right to investigate suspected violations of these Terms of Use, including without limitation any violation arising from any comment, posting or e-mails you make or send on or to the Site.  We may seek to gather information from the user who is suspected of violating these Terms of Use, and from any other user.  We may suspend any users whose conduct or postings are under investigation and may remove such material from its servers as it deems appropriate and without notice.  If we believe, in our sole and absolute discretion, that a violation of these Terms of Use has occurred, we may edit or modify any comment, posting or e-mails, remove the material permanently, cancel comments, warn users, suspend users and passwords, terminate accounts or take other corrective action it deems appropriate.  We will fully cooperate with any law enforcement authorities or court order requesting or directing us to disclose the identity of anyone posting any e-mails, or publishing or otherwise making available any materials that are believed to violate these Terms of Use.  BY ACCEPTING THIS AGREEMENT YOU WAIVE AND HOLD HARMLESS ALL MEMBERS OF THE SITE FROM ANY CLAIMS RESULTING FROM ANY ACTION TAKEN BY ANY MEMBER OF THE SITE DURING OR AS A RESULT OF ITS INVESTIGATIONS AND/OR FROM ANY ACTIONS TAKEN AS A CONSEQUNCE OF INVESTIGATIONS BY EITHER A MEMBER OF THE SITE OR LAW ENFORCEMENT AUTHORITIES.</p>
<p class="indented">Service</p>
<p>In order to use this Site, you must obtain access to the World Wide Web and pay any service fee associated with that access.  You will need to provide all equipment necessary to connect to the Site on the World Wide Web (including a computer, modem and/or other access devices).</p>
<p>We reserve the right to modify or discontinue, temporarily or permanently, all or any part of this Site and/or any software, facilities and services on this Site, with or without notice, and/or to establish general guidelines and limitations on their use.</p>
<p class="indented">Local Regulations</p>
<p>We make no representation that the Material or other content in or on the Site are appropriate or available for use in your local jurisdiction.  Your access of the Site is at your own initiative and at your own risk.</p>
<p>You are responsible for complying with local laws, if and to the extent local laws are applicable.  You specifically agree to comply with all applicable laws concerning the transmission of technical data exported from the United States or the country you reside in.</p>
<p class="indented">Indemnity</p>
<p>You agree to indemnify and hold us harmless along with our officers, directors, employees, agents, distributors, lawyers and affiliates from and against any and all claims, demands, liabilities, costs or expenses, including reasonable attorney's fees, resulting from your breach of any of the foregoing provisions, representations or warranties, and/or from your placement or transmission of any content onto our Site, and/or from any and all use of your account and the Site.</p>
<p class="indented">Our Use of Content</p>
<p>We will consider anything you provide to the Site and/or contribute to this Site as available for our use free of any obligations to you</p>
<p>By posting or uploading any content to this Site and/or providing any communication or material to the Site ("User Content"), you automatically and irrevocably: (a) grant and assign to the Site a royalty-free, perpetual, non-exclusive, unrestricted, worldwide license to any and all rights in the User Content including without limitation all copyright, together with all consents (if any) necessary to enable its reproduction, distribution, modification, publishing and/or other exploitation by the Site and/or by any person authorized by the Site, by any means and in all media now known or hereafter devised, without payment or other reference to you or any other person, and to advertise and promote such exploitation, for the full period of all such rights (together with any extensions and renewals) and insofar as possible in perpetuity; (b) waive all moral rights in the User Content which may be available to you in any part of the world and confirm that no such rights have been asserted; (c) appoint the Site as your agent with full power to enter into any document and/or do any act the Site may consider appropriate to confirm the grant and assignment, consent and waiver set out above; (d) warrant that you are the owner of the User Content and entitled to enter into these Terms of Use; (e) confirm that no such User Content will be subject to any obligation, of confidence or otherwise, to you or any other person and that the Site shall not be liable for any use or disclosure of such User Content.</p>
<p class="indented">Third-Party Sites</p>
<p>This Site may link you to other websites on the Internet.  These sites may contain information or material that some people may find inappropriate or offensive.  These other sites are not under our control, and you acknowledge that we are not responsible for the accuracy, copyright compliance, legality, decency, or any other aspect of the content of such sites. The inclusion of such a link does not imply that we endorse such website.</p>
<p>We cannot ensure that you will be satisfied with any products or services that you purchase from any third-party website that links to or from the Site since third-party websites are owned and operated by independent third-parties. We do not endorse any of the products/services, nor have we taken any steps to confirm the accuracy or reliability of any of the information contained in such third-party websites.  We do not make any representations or warranties as to the security of any information (including, without limitation, credit card and other personal information) you might be requested to give any third-party, and you irrevocably waive any claim against us with respect to such sites. We strongly encourage you to make whatever investigation you feel necessary or appropriate before proceeding with any online transaction with any of these third parties.</p>
<p class="indented">Jurisdiction and Choice of Law</p>
<p>The Material and all other content in and on this Site are presented solely for the purpose of providing entertainment and information.</p>
<p>These Terms of Use, our Privacy Policy, any claim or controversy and all other use of the Site shall be construed and governed by, the laws of the State of New York, United States, without giving effect to principles of conflicts of laws.</p>
<p>The Parties agree that any dispute between them arising out of or related to these Terms of Use, our Privacy Policy, any claim or controversy and all other use of the Site shall be resolved by binding arbitration conducted under the commercial rules of the American Arbitration Association in effect as of the date any such action is initiated.  This is an exclusive remedy.  Unless another venue is agreed to by both parties, any arbitration conducted shall take place in the County of Nassau, State of New York, United States.  The arbitration and proceedings related thereto shall be conducted in English.  A single arbitrator will make a determination and render an award within Thirty (30) days of the close of evidence in such arbitration proceeding.  The Parties waive right to jury trial and agree that the arbitration award will be final and binding and that judgment will be entered thereon in any court of competent jurisdiction.  Notwithstanding the foregoing, any party may seek immediate judicial intervention to obtain injunctive relief.  In addition, any party may bring an action in a court of competent jurisdiction to enforce (i) the Arbitration, Venue, and Governing Law provisions hereof and (ii) any arbitration award rendered hereunder, and any such action shall not be deemed a waiver of this arbitration requirement or any other provision hereof.</p>
<p>The venue for any and all legal proceedings (as permitted by the preceding paragraph) arising from or connected with these Terms of Use, our Privacy Policy, any claim or controversy and all other use of the Site, shall be exclusively in the County of Nassau, State of New York, United States, for any state court actions and the United States Federal District Court of New York, Eastern Division, for any federal court actions and no Party shall have the right to challenge venue based upon forum non-conveniens or otherwise.</p>
<p>In the event that you or the Site commences any claims, actions, formal legal action, or arbitration to interpret and/or enforce any of the terms and conditions of this Agreement, or relating in any way to this Agreement, including without limitation asserted breaches of representations and warranties, the prevailing party in any such action or proceeding shall be entitled to recover, in addition to all other available relief, its reasonable attorneys’ fees and costs incurred in connection therewith, including attorneys’ fees incurred on appeal.</p>
<p>We make no representation(s) of any kind whatsoever that the Site or any of the Sexually Explicit Material are appropriate or available for use on other locations, and access to them from territories where their subject matter may be illegal or is otherwise prohibited.  Those who choose to access the Site from any such location(s), do so at their own risk shall be solely responsible for compliance with all applicable local laws and regulations.</p>
<p>XVIII.	Notice</p>
<p>Any notice required under these Terms of Use or in any of your interactions with the Site may be provided by email to a functioning email address of the party to be noticed, by a general posting on the Site, or personal delivery by a commercial carrier.  Notices shall be deemed effective upon delivery.  Any correctly addressed notice that is refused, unclaimed, or undeliverable, because of an act or omission of the party to be notified, shall be deemed effective as of the first date that said notice was refused or deemed undeliverable by the postal authorities, messenger, facsimile machine, email server, or overnight delivery service.</p>
<p>Either party may change the address to which notice is to be sent by written notice to the other party pursuant to this section of these Terms of Use.</p>
<p>XVIX.	Force Majeure</p>
<p>You agree that we are not responsible to you for anything that we may otherwise be responsible for, if it is the result of events beyond our control, including, but not limited to, acts of God, war, insurrection, riots, terrorism, crime, labor shortages (including lawful and unlawful strikes), embargoes, postal disruption, communication disruption, unavailability of payment processors, failure or shortage of infrastructure, shortage of materials, or any other event beyond our control.</p>
<p>XX.	Severability</p>
<p>If any provision of these Terms of Use shall be unlawful, void, or for any reason unenforceable, then that provision shall be deemed severable for this agreement and shall not affect the validity and enforceability of any remaining provisions. This is the entire agreement between the parties relating to the matters contained herein.</p>
<p>XXI.	Non-Waiver</p>
<p>We reserve all rights afforded to us under these Terms of Use as well as under the provisions of any applicable law.  Our non-enforcement of any particular provision of these Terms of Use or any applicable law shall not be construed as our waiver of the right to enforce that same provision under the same or different circumstances at any time in the future.</p>
<p>XXII.	Assignment</p>
<p>You may not assign your rights and/or obligations pursuant to these Terms of Use to any other party without our prior written consent.  We reserve the right to assign our rights and/or obligations pursuant to these Terms of Use to any other party in our sole and absolute discretion.</p>
<p>XXIII.	Headings</p>
<p>All headings are solely for the convenience of reference and shall not affect the meaning, construction or effect of these Terms of Use.</p>
<p>XXIV.	Complete Agreement</p>
<p>These Terms of Use constitutes the entire legally binding agreement between the parties hereto with respect to the subject matter hereof.  These Terms of Use supersede and replace all prior understandings or agreements, whether written or oral and regardless of the subject matter thereof.</p>
<p class="center-text">Nothing further follows.</p>