var title 	= 	'.modal-title',
	content	=		'.modal-body-content',
	modal	=			'#main-modal';

$(title).html('Privacy Policy');
$(content).html('<%= j render('pages/compliance') %>');
$(modal).foundation('reveal', 'open');