<% provide :title, 'Welcome' %>

<div class="middle-wrapper">
	<section id="gallery" class="container section-padding">
		<div class="row">
			<div class="large-12 columns">
				<ul class="small-block-grid-2 medium-block-grid-4 large-block-grid-6 gallery">
					<% @users.each do |user| %>
						<%= render 'profiles/profile', user: user %>
					<% end %>
				</ul>
			</div>
		</div>
	</section>
</div>