var title 	= 	'.modal-title',
	content	=		'.modal-body-content',
	modal	=			'#main-modal';

$(title).html('Terms & Conditions');
$(content).html('<%= j render('pages/terms') %>');
$(modal).foundation('reveal', 'open');