// Place all the styles related to the admin/base controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table {
	margin-bottom: rem-calc(17px);
	border-collapse: collapse;
	border-spacing: 0;
	background: none;
	border: none;
	width: 100%;
	thead {
		background: none;
		th {
			vertical-align: bottom;
			border-bottom: 2px solid #3a3a3a;
			color: $body-font-color;
		}
	}
}

.section-padding {
	padding: rem-calc(17px 0);
}

.middle-wrapper {
	background-color: $middle-bg-color;
}