.with-form-background {
	form {
		background-color: $form-bg-color;
		padding: rem-calc(26px 28px);
	}
}

.registration-form {
	background-color: #e8e9e8;
//	margin-top: rem-calc(10px);
	header {
		border-bottom: 1px solid $primary-color;
		h2 {
			font-size: rem-calc(25px);
		}
		h3 {
			margin-left: 20px;
			font-size: rem-calc(21px);
		}
	}
	form {
		margin: 10px 0;
	}
}