.panel-default {
	margin-bottom: rem-calc(17px);
	border: rem-calc(1px) solid $default-panel-border-color;
	box-shadow: rem-calc(0 1px 1px) rgba(0,0,0,0.05);
	.panel-heading {
		padding: rem-calc(10px 15px);
		border-bottom: rem-calc(1px) solid $default-panel-border-color;
		color: $default-panel-header-font-color;
		background-color: $default-panel-header-bg-color;
		h4 {
			font-size: 100%;
		}
		.button {
			margin: 0;
		}
	}
	.panel-body {
		font-family: 'PT Sans';
		font-size: rem-calc(13px);
		padding: rem-calc(15px);
		background-color: $default-panel-bg-color;
	}
}