<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-COMPATIBLE" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title><%= content_for?(:title) ? yield(:title) : '' %> - Random Affair</title>
	<%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Oswald:400,300,700' %>
	<%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=PT+Sans' %>
	<%= stylesheet_link_tag 'application', media: 'all' %>
	<%= stylesheet_link_tag "lander1/all", media: "all", "data-turbolinks-track" => true %>
	<%=	javascript_include_tag :modernizr %>
	<%= render 'shared/tracking_code' %>
	<%=	javascript_include_tag 'application' %>
	<%= javascript_include_tag params[:controller] %>
	<%= csrf_meta_tags %>
</head>
<body>
<%= render 'shared/navigation' %>
<%= render 'shared/flash' %>
<%= yield %>
<ul id="private_messages" class="no-bullet show-for-large-up"></ul>
<%= render 'shared/footer' %>
<%=	audio_tag('beep.mp3', id: 'beepAudio', autostart: false, width: 0, height: 0, type: 'audio/mpeg') %>
</body>
</html>