= form_for @subscription, html: {class: 'form-horizontal'} do |f|
  - if @subscription.errors.any?
    .error_messages
      h2
        = pluralize(@subscription.errors.count, 'error')
        |  prohibited this subscription from being saved:
      ul
        - @subscription.errors.full_messages.each do |msg|
          li
            = msg
  = f.hidden_field :plan_id
  = f.hidden_field :stripe_card_token
  .form-group
    = f.label :email, class: 'col-md-2 control-label'
    .col-md-4
      = f.text_field :email, value: current_user.email, class: 'form-control'
  - if @subscription.stripe_card_token.present?
    |  Credit card has been provided. 
  - else
    .form-group
      = label_tag :card_number, 'Credit Card Number', class: 'col-md-2 control-label'
      .col-md-4
        = text_field_tag :card_number, '4012888888881881', name: nil, class: 'form-control', readonly: 'readonly'
    .form-group
      = label_tag :card_code, 'Security Code on Card (CVV)', class: 'col-md-2 control-label'
      .col-md-2
        = text_field_tag :card_code, '123', name: nil, class: 'form-control', readonly: 'readonly'
    .form-group
      = label_tag :card_month, 'Card Expiration', class: 'col-md-2 control-label'
      .col-md-10
        = select_month nil, {add_month_numbers: true}, {name: nil, id: 'card_month'}
        = select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: 'card_year'}
    #stripe_error
      noscript
        | JavaScript is not enabled and is requried for this form. First enable it in your browser settings.
    .form-group
      .col-md-10.col-md-offset-2
        = f.submit 'Subscribe', class: 'btn btn-primary'
