- provide :title, 'Success'
.middle-wrapper
  section#register.container.section-padding
    header
      h2
        | Your Subscription
    p
      | You have just signed up for the 
      = @subscription.plan.name
      |  plan for just 
      = number_to_currency @subscription.plan.price
      |  per month. 
