<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	<div class="row">
		<div class="small-12 columns">
			<%= f.label :email %>
			<%= f.email_field :email, autofocus: true %>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<%= f.label :password %>
			<%= f.password_field :password %>
		</div>
	</div>
	<% if devise_mapping.rememberable? %>
		<div class="row">
			<div class="small-12 columns">
				<%= f.check_box :remember_me %> Remember Me
			</div>
		</div>
	<% end %>
	<div class="row">
		<div class="small-12 columns text-center">
			<%= f.submit "Log in", class: 'button expand' %>
		</div>
	</div>
<% end %>