<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html" charset="utf-8" http-equiv="content-type" />
	</head>
	<body>
		<p>Hello <%= @friend.username %>, You have a new friend request from <%= @user.username %>.</p>
		<p>To view <%= @user.username %>'s profile <%= link_to 'Click here', @user_url %></p>
		<p>Please check your dashboard at <%= friendship_index_url(anchor: 'pending') %> to accept or decline <%= @friend.username %>'s request.</p>
	</body>
</html>