<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html" charset="utf-8" http-equiv="CONTENT-TYPE" />
	</head>
	<body>
		<p>Just a heads up to let you know that <%= @sender.username %> just sent a message to <%= @message.user.username %></p>
		<p>The message reads:</p>
		<p><%= @message.body %></p>
	</body>
</html>