<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html" charset="utf-8" http-equiv="CONTENT-TYPE" />
	</head>
	<body>
		<p>Hello <%= @recipient.username %>,</p>
		<p>This is just to let you konw that you have received a new message from <%= @sender.username %></p>
		<p>To view <%= @sender.username %>'s profile <%= link_to 'Click Here', @sender_url %></p>
		<p>Please log in to <%= link_to 'RandomAffair.com', @url %> and check your inbox!</p>
		<p>Sincerely Random Affair</p>
	</body>
</html>