<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html" charset="UTF-8" http-equiv="content-type"/>
	</head>
	<body>
		<p>Hello <%= @user.username %></p>
		<p>This is just an after confirmation email.</p>
		<p>Thanks, Random Affair</p>
	</body>
</html>