<% provide :title, 'Plan' %>
<%= form_for [:admin, @plan], html: { class: 'form-horizontal', role: 'form'} do |f| %>
  <%= render 'shared/errors', model: @plan %>
  <div class="form-group">
    <%= f.label :name, class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= f.text_field :name, class: 'form-control' %>
		</div>
	</div>
  <div class="form-group">
    <%= f.label :price, class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= f.text_field :price, class: 'form-control' %>
		</div>
	</div>
  <div class="form-group">
		<%= f.label :p_api_id, 'Product Id', class: 'col-md-2 control-label' %>
		<div class="col-md-10">
			<%= f.text_field :p_api_id, class: 'form-control' %>
		</div>
	</div>
  <div class="form-group">
		<%= f.label :url, class: 'col-md-2 control-label' %>
		<div class="col-md-10">
			<%= f.text_field :url, class: 'form-control' %>
		</div>
	</div>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <%= f.submit 'Save Plan', class: 'btn btn-primary' %>
		</div>
	</div>
<% end %>