<div class="middle-wrapper">
  <section id="plans" class="container section-padding">
    <div class="row">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Product Id</th>
            <th>Url</th>
            <th>Options</th>
					</tr>
				</thead>
        <tbody>
          <% @plans.each do |plan| %>
            <tr>
              <td><%= plan.name %></td>
              <td><%= number_to_currency(plan.price) %></td>
              <td><%= plan.p_api_id %>
              <td><%= plan.url %></td>
              <td><%= link_to 'Edit', edit_admin_plan_path(plan) %> | <%= link_to 'Destroy', admin_plan_path(plan), method: :delete, data: { confirm: 'Are you sure?' } %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
    <%= link_to 'Create Plan', new_admin_plan_path, class: 'btn btn-primary' %>
	</section>
</div>