<div class="middle-wrapper">
  <section class="container section-padding">
    <div class="row">
      <div class="col-md-12">
        <article class="panel panel-default">
          <header class="panel-heading">
            <h4>Create a new plan</h4>
					</header>
          <div class="panel-body">
            <%= render 'form' %>
					</div>
				</article>
			</div>
		</div>
	</section>
</div>