<% provide :title, 'User Messages' %>
<div class="middle-wrapper">
  <section class="container section-padding">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>User messages</h4>
					</div>
          <div class="panel-body">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Recipient</th>
                  <th>Sender</th>
                  <th>Received</th>
                  <th>Options</th>
								</tr>
							</thead>
              <tbody>
                <% @user_messages.each do |user_message| %>
                  <tr>
                    <td><%= user_message.user.email %></td>
                    <td><%= user_message.sender.email %>
                    <td><%= time_ago_in_words(user_message.created_at) %> ago</td>
                    <td><%= link_to 'Show', admin_user_message_path(user_message, inbox_id: user_message.sender.inbox.id) %></td>
									</tr>
								<% end %>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>