<% provide :title, 'Message' %>
<div class="middle-wrapper">
  <section id="message" class="container section-padding">
  	<div class="row">
      <div class="col-md-12">
        <article class="panel panel-default">
          <header class="panel-heading">
            <h4>
            	Message from
              <%= @user_message.sender.username %> to <%= @user_message.user.username %>
            </h4>
					</header>
          <div class="panel-body">
            <%= @user_message.body %>
          </div>
          <footer class="panel-footer">
            <%= form_for [:admin, UserMessage.new], html: {class: 'form-horizontal'} do |f| %>
              <%= hidden_field_tag :inbox_id, @inbox.id %>
              <%= f.hidden_field :sender_id, value: @user_message.user_id %>
              <%= f.hidden_field :user_id, value: @user_message.sender.id %>
              <% if @user_message.parent_id %>
                <%= f.hidden_field :parent_id, value: @user_message.parent_id %>
              <% end %>
              <%= hidden_field_tag :inbox_id, @inbox.id %>
              <div class="form-group no-bottom-margin">
                <div class="col-md-6">
                  <%= f.text_field :body, class: 'form-control' %>
                </div>
                <%= f.submit 'Send Reply', class: 'btn btn-primary col-md-2' %>
							</div>
						<% end %>
					</footer>
				</article>
			</div>
		</div>
	</section>
</div>