<% provide :title, 'Add Photo' %>
<%= form_for [@user, @photo], html: { multipart: true } do |f| %>
	<% if @photo.errors.any? %>
		<div class="error_explanation">
			<h2><%= pluralize(@photo.errors.count, 'error') %> prohibited this photo from being saved:</h2>
			<ul class="no-bullet">
				<% @photo.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<div class="row">
		<div class="small-12 columns">
			<%= f.label :image %>
			<%= f.file_field :image %>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<%= f.label :avatar %>
			<%= f.check_box :avatar %>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<% if policy(@user).add_photo? %>
				<%= f.submit 'Add Photo', class: 'button tiny radius' %>
			<% end %>
		</div>
	</div>
<% end %>