<% provide :title, 'Photos' %>
<div class="middle-wrapper">
	<section id="photos_index" class="section-padding">
		<div class="row">
			<div class="small-12 large-2 columns">
				<article class="panel-default">
					<header class="panel-heading">
						<h4>Options</h4>
					</header>
					<div class="panel-body without-padding">
						<ul class="side-nav">
							<% if policy(@user).add_photo? %>
								<li><%= link_to 'Add Photos', new_user_photo_path(@user) %></li>
							<% end %>
							<li><%= link_to 'Videos', user_videos_path(@user) %></li>
							<li><%= link_to 'Profile', user_profile_path(@user, @user.profile) %></li>
						</ul>
					</div>
				</article>
			</div>
			<div class="small-12 large-10 columns">
				<article class="panel-default">
					<header class="panel-heading">
						<h4><%= @user.username %>'s photos</h4>
					</header>
					<div class="panel-body">
						<% if @photos.empty? %>
							<div class="row">
								<p class="small-12 columns">This user has no photos uploaded at this time.</p>
							</div>
						<% else %>
							<ul class="small-block-grid-2 large-block-grid-6">
								<% @photos.each do |photo| %>
									<%= link_to image_tag(photo.image.url(:thumb)), '#', class: 'lightbox', rel: photo.user.username, data: { href: photo.image.url() } %>
								<% end %>
							</ul>
						<% end %>
					</div>
				</article>
			</div>
		</div>
	</section>
</div>