<div class="middle-wrapper">
  <section id="new_photos" class="section-padding">
    <div class="row">
			<div class="small-12 large-2 columns">
				<article class="panel-default">
					<header class="panel-heading">
						<h4>Options</h4>
					</header>
					<div class="panel-body">
						<ul class="side-nav">
							<li><%= link_to 'Photos', user_photos_path(@user) %></li>
							<li><%= link_to 'Videos', user_videos_path(@user) %></li>
							<li><%= link_to 'Profile', user_profile_path(@user, @user.profile) %></li>
						</ul>
					</div>
				</article>
			</div>
			<div class="small-12 large-10 columns">
				<article class="panel-default">
					<header class="panel-heading">
						<h4>Add a photo</h4>
					</header>
					<div class="panel-body">
            <%= render 'form' %>
          </div>
        </article>
      </div>
		</div>
	</section>
</div>
