@mixin responsive-bg-image($image-width, $image-height) {
	background-size: 100%;
	height: 0;
	padding-bottom: percentage($image-height / $image-width);
	display: block;
}

$default-border-color: #3a3b3b;


//== Colors
$brand-primary: #dcaa91;

//== Scaffolding
//$body-bg: #000;
$body-bg: #151515;
$text-color: #b3b3b3;
//$text-color: #fff;

//== Typography
$font-family-oswald: 'Oswald', sans-serif;
$font-family-base: $font-family-oswald;
$font-size-base: 12px;

//== Navbar
$navbar-default-color: #fff;
$navbar-default-bg: #000;
$navbar-height: 60px;

// Navbar links
//$navbar-default-link-color: #fff;
$navbar-default-link-color: #b3b3b3;
$navbar-default-link-hover-color: #fff;
$navbar-default-link-hover-bg: #202020;
//$navbar-default-link-hover-bg: lighten($body-bg, 10%);
$navbar-default-link-active-color: $brand-primary;

//== Panels
//$panel-bg: #141414;
$panel-bg: #181818;
$panel-border-radius: none;
$panel-default-border: black;
//$panel-inner-border: $default-border-color;
//$panel-default-heading-bg: #000;
$panel-default-heading-bg: #202020;
//$panel-default-border: $default-border-color;
//$panel-default-text: #dcaa91;
$panel-default-text: #575a5d;
$panel-footer-bg: #000;

//== Buttons
$btn-primary-color: #000;

//== Tooltips
$tooltip-color: #000;
$tooltip-bg: $brand-primary;

//== Tables
$table-border-color: $default-border-color;