html {
	overflow-y: scroll;
}

body {
	font-weight: 300;
}

.center-text {
	text-align: center;
}

.online {
	color: green;
}

.offline {
	color: gray;
}

.navbar {
	margin-bottom: 0;
	border: none;
}

.pink {
	color: $brand-primary;
}

.bg-warning {
	color: #000;
}

.navbar-brand {
	padding: 10px 15px;
	line-height: 60px;
}

.nav-user-photo {
	margin: -15px 4px 0 0;
	border-radius: 100%;
	border: 2px solid $brand-primary;
	max-width: 40px !important;
}

.user-info {
	display: inline-block;
	small {
		display: block;
	}
}

.top-bar {
	padding: 12px 0px;
	.tagline {
		font-family: 'PT Sans';
	}
}

.img-dropdown-pad {
	padding: 10px 15px !important;
}

.control-label {
	font-family: 'PT Sans';
}

.middle-wrapper {
	background-color: #1a1a1a;
}

section {
	overflow: auto;
	&.section-padding {
		padding-top: 17px;
		padding-bottom: 17px;
	}
}

.panel-title > a {
	color: black;
}

.panel-body {
	font-family: 'PT Sans';
	font-size: 13px;
}

#main-footer {
	padding: 10px 0;
}

textarea {
	resize: vertical;
}

a {
	&:hover {
		text-decoration: none;
	}
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.center {
	text-align: center;
}

.bold {
	font-weight: bold;
}

.no-top-margin {
	margin-top: 0;
}

.no-bottom-margin {
	margin-bottom: 0;
}

.top5 {
	margin-top: 5%;
}

.top7 {
	margin-top: 7%;
}

.top10 {
	margin-top: 10%;
}

.block {
	display: block;
}

.video_header_tag {
	margin: 0 0 0.5em 0;
	text-align: center;
}

.modal-body-content {
	color: black;
}

#error_explanation {
	color: #f00;
	font-size: 125%;
	ul {
		list-style: none;
		margin: 0 0 18px 0;
	}
}

.field_with_errors {
	@extend .has-error;
}