// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

#pages-index {
	.navbar {
		background-color: rgba(0,0,0,0.85);
	}
}

#landing-img {
	background-image: image-url('header_2.jpg');
	@include responsive-bg-image(1920, 700);
}

ul.gallery {
	li {
		margin-bottom: 26px;
		figure {
			position: relative;
			.ribbon-wrapper-green {
				width: 85px;
				height: 88px;
				overflow: hidden;
				position: absolute;
				top: -3px;
				right: -3px;
				.ribbon-green {
					fond: bold 15px Sans-Serif;
					color: #333;
					text-align: center;
					text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
					-webkit-transform: rotate(45deg);
					-moz-transform: rotate(45deg);
					-ms-transform: rotate(45deg);
					-o-transform: rotate(45deg);
					transform: rotate(45deg);
					position: relative;
					padding: 7px 0;
					left: -5px;
					top: 15px;
					width: 120px;
					background-color: #bfdc7a;
					background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
					background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
					background-image: -moz-linear-gradient(top, #BFDC7A, #8EBF45);
					background-image: -ms-linear-gradient(top, #BFDC7A, #8EBF45);
					background-image: -o-linear-gradient(top, #BFDC7A, #8EBF45);
					color: #6a6340;
					-webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
					-moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
					box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
				}
				.ribbon-green:before, .ribbon-green:after {
					content: "";
					border-top: 3px solid #6e8900;
					border-left: 3px solid transparent;
					border-right: 3px solid transparent;
					position: absolute;
					bottom: -3px;
				}
				.ribbon-green:before {
					left: 0;
				}
				.ribbon-green:after {
					right: 0;
				}
			}
//			@include border-top-radius(5px);
//			@include border-bottom-radius(5px);
//			border: 2px solid #433a38;
//			background-color: #24201f;
//			padding: 5px;
			figcaption {
				span {
					display: block;
					&.city_name {
						display: inline-block;
					}
				}
			}
		}
	}
}

.registration-form {
	background-color: #000;
	margin-top: 10px;
	header {
		border-bottom: 1px solid $brand-primary;
		h3 {
			margin-left: 20px;
		}
	}
	form {
		margin: 10px 0;
	}
}