<div class="middle-wrapper">
  <section class="section-padding">
    <div class="row">
      <div class="small-2 columns">
        <%= search_form_for @search, url: admin_users_path, html: { class: 'form-horizontal'} do |f| %>
          <div class="row">
						<div class="small-12 columns">
							<%= f.label :role_eq, 'Role:' %>
							<%= f.collection_select :role_eq, User.roles, :second, :first, include_blank: true %>
							<%= f.label :confirmed_at, 'Not Confirmed' %>
							<%= check_box_tag('q[confirmed_at_null]') %>
							<%= label_tag 'Confirmed Date (YYYY-MM-DD)' %>
							<%= f.search_field(:confirmed_at_date_equals) %>
							<%= f.label :confirmed_at_gteq %>
							<%= f.search_field :confirmed_at_gteq %>
							<%= f.label :confirmed_at_lteq %>
							<%= f.search_field :confirmed_at_lteq %>
						</div>
					</div>
          <div class="row">
						<div class="small-12 columns">
            	<%= f.submit 'Search', class: 'button tiny radius' %>
						</div>
					</div>
				<% end %>
			</div>
			<div class="small-10 columns">
				<table class="table">
					<thead>
						<tr>
							<th>Avatar</th>
							<th><%= sort_link(@search, :email, 'Email') %>
							<th><%= sort_link(@search, :username, 'Username') %>
							<th>Confirmed?</th>
						</tr>
					</thead>
					<tbody>
						<% @users.each do |user| %>
							<tr>
								<td><%= image_tag user.avatar_photo_url(:tiny), size: '50x50' %></td>
								<td><%= user.email %></td>
								<td><%= user.username %></td>
								<td>
									<%= human_boolean(user.confirmed?) %>
									<% if user.confirmed? %>
										(<%= time_ago_in_words(user.confirmed_at) %> ago)
									<% end %>
								</td>
							</tr>
						<% end %>
					</tbody>
				</table>
				<%= pagination_links @users %>
			</div>
		</div>
	</section>
</div>