<div class="row">
	<ul id="error_explanation"></ul>
	<%= form_tag 'https://payment.dhdmedia.com/merchants/p.1009155/m.3062/buy.cfm', id: 'plan-form' do %>
		<div class="small-12 large-4 columns">
			<article class="panel-default">
				<header class="panel-heading">
					<h4>Please select your plan</h4>
				</header>
				<div class="panel-body">
					<ul class="subscriptions no-bullet">
						<% @plans.each do |plan| %>
							<li class="row">
								<div class="small-12 columns">
									<div class="row">
										<div class="large-1 columns">
											<%= radio_button_tag 'prod_id', plan.p_api_id, (params[:api_id] == plan.p_api_id.to_s) %>
										</div>
										<div class="large-11 columns">
											<%= label_tag "prod_id_#{plan.p_api_id}", plan.name %>
											<span>
												<%= number_to_currency plan.price %>
												<%= (plan.price <= 1)? 'for one day only' : 'per month' %>
											</span>
										</div>
									</div>
								</div>
							</li>
						<% end %>
					</ul>
				</div>
			</article>
		</div>
		<div class="small-12 large-8 columns">
			<article class="panel-default">
				<header class="panel-heading">
					<h4>A little info</h4>
				</header>
				<div class="panel-body">
					<div class="row">
						<div class="small-12 columns">
							<%= label_tag 'cust_fname', 'First Name' %>
							<%= text_field_tag 'cust_fname', nil %>
						</div>
					</div>
					<div class="row">
						<div class="small-12 columns">
							<%= label_tag 'cust_lname', 'Last Name' %>
							<%= text_field_tag 'cust_lname', nil %>
						</div>
					</div>

					<div class="row">
						<div class="small-12 columns">
							<div class="row">
								<p class="large-10 columns">
									You will be redirected to our payment gateway to finish the payment process
								</p>
								<%= hidden_field_tag 'sub_username', current_user.username %>
								<%= hidden_field_tag 'cust_email', current_user.email %>
								<%= hidden_field_tag 'cust_email_repeat', current_user.email %>
								<div class="large-2 columns text-right">
									<%= submit_tag 'Next', class: 'button tiny radius track-click', data: { ga_category: 'Plan Form', ga_action: 'Submit', ga_label: current_user.email } %>
								</div>
							</div>
						</div>
					</div>
				</div>
			</article>
		</div>
	<% end %>
</div>