<% provide :title, 'Plans' %>
<div class="middle-wrapper">
	<section id="plans" class="section-padding">
		<%= render 'form' %>
		<div class="row">
			<div class="small-12 columns">
				<article class="panel-default">
					<header class="panel-heading">
						<h4>Hurry these ladies are all waiting for YOU!</h4>
					</header>
					<div class="panel-body">
						<ul class="gallery large-block-grid-6">
							<% @girls.each do |girl| %>
								<%= render 'profiles/profile', user: girl %>
							<% end %>
						</ul>
					</div>
				</article>
			</div>
		</div>
	</section>
</div>