<nav class="top-bar" data-topbar>
	<ul class="title-area">
		<li class="name">
			<h1>
				<%= link_to image_tag('RA_logo.png'), root_path  %>
			</h1>
		</li>
		<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
	</ul>
	<section class="top-bar-section">
		<% if user_signed_in? && current_user.is_admin? %>
			<ul class="left">
				<%= nav_link('Home', admin_root_url, 'home') %>
				<li class="divider"></li>
				<%= nav_link('Users', admin_users_path, 'user') %>
				<li class="divider"></li>
				<%= nav_link('Plans', admin_plans_path, 'usd') %>
				<li class="divider"></li>
				<%= nav_link('Messages', admin_user_messages_path, 'envelope') %>
			</ul>
		<% end %>
		<ul class="right">
			<li class="has-dropdown">
				<a href="#">
					<%= current_user.username %>
				</a>
				<ul class="dropdown">
					<li><%= link_to 'Main Site', root_url %></li>
					<li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
				</ul>
			</li>
		</ul>
	</section>
</nav>