<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title><%= content_for?(:title) ? yield(:title) : '' %> - Random Affair</title>
		<%= stylesheet_link_tag 'admin', media: 'all' %>
		<%= javascript_include_tag :modernizr %>
		<%= javascript_include_tag 'admin' %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<%= render 'admin/shared/navigation' %>
		<%= render 'shared/flash' %>
		<%= yield %>
	</body>
</html>