<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : '' %> - Random Affair</title>
		<%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Oswald:400,300,700' %>
		<%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=PT+Sans' %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag :modernizr %>
		<%= javascript_include_tag 'application' %>
		<%= javascript_include_tag params[:controller] %>
    <%= csrf_meta_tags %>
  </head>

  <body>
		<%= render 'shared/navigation' %>
		<%= render 'shared/flash' %>
    <%= yield %>
		<ul id="private_messages"></ul>
		<%= render 'shared/footer' %>
		<%= audio_tag 'beep.mp3', id: 'beepAudio', autostart: false, width: 0, height: 0, type: 'audio/mpeg' %>
  </body>
</html>